{% extends "book/book.html.twig" %}

{% set metaDesc = "Породы кроликов" %}
{% set metaKey  = "какие бывают породы кроликов, породы кроликов в сибири" %}

{% block title %} Породы кроликов мясного направления, кролики породы серебро {% endblock %}

{% block content %}
    <main class="content book">
        <header id="porody-krolikov" class="anchor">
            <h1>Породы кроликов</h1>
        </header>
        <section>
            <section id="myaso-shkurkovye" class="anchor">
                <h2>Мясо-шкурковые</h2>
                <section id="sovetskaya-shinshilla" class="anchor">
                    <h3>Советская шиншилла</h3>
                    <p>В полном соответствии с названием, порода была выведена в СССР, для чего скрестили мелкую породу кроликов Советская шиншилла (рис.&nbsp;1), которую завезли в страну в первой четверти XX в., с породой <a href="#belyj-velikan">Белый великан</a>. Впоследствии породу совершенствовали в сторону увеличения живой массы, приспособленности к климату, сохранения качества шкурки.</p>
                    <p>Крупная порода, в основном серебристо-голубой окраски, за исключением брюшка, нижней стороны хвоста и внутренней стороны конечностей, где преобладает белый цвет. Вокруг глаз наблюдается светлая кайма, а на ушах и сверху хвоста &ndash; черная, на затылке клин более светлого оттенка по сравнению с окружающим мехом. Особенностью шиншиллы является неоднородная окраска шерстинок: у основания как остевых так и направляющих цвет голубовато-серый, затем вторые становятся черными, а у первых зоны чередуются, переходя от светлого оттенка к темно-серому и потом к серебристо-белому. Окончания же волос черные, благодаря чему волосяной покров приобретает интересную живость.</p>
                    <p>Представители данной породы отличаются высокой продуктивностью. Взрослые кролики весят в среднем около 5 кг, а некоторые экземпляры набирают более 7 кг. У животных крепкий скелет и достаточно мощное телосложение. Голова относительно маленькая, с торчащими ушами среднего размера. Тело недлинное, всего около 63&ndash;69 см с округлением в районе спины, грудь широкая и глубокая, с подгрудком, ноги сильные, крепкие и прямые.</p>
                    <p>Новорожденные крольчата весят около 74 г. Растут быстро. От одной самки за один раз рождается в среднем по 8 малышей. От кроликов данной породы получают ценную шкурку значительного размера и с оригинальной расцветкой. Шиншилловая порода является одной из наиболее распространенных у отечественных кролиководов.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_sovetskaya-shinshilla.jpg') }}" alt="Порода кролика Советская шиншилла">
                    <p class="img-number">Рис. 1. Советская шиншилла</p>
                </section>
                <section id="belyj-velikan" class="anchor">
                    <h3>Белый великан</h3>
                    <p>Крупные кролики родом из Бельгии (рис.&nbsp;2). В России появились в первой четверти XX в. Получили породу в результате долгого скрещивания отдельных представителей белых <a href="#flandr">фландров</a>. В СССР породу усовершенствовали.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_belyj-velikan.jpg') }}" alt="Порода кролика Белый великан">
                    <p class="img-number">Рис. 2. Белый великан</p>
                    <p>В среднем кролики весят около 5 кг, а некоторые экземпляры набирают более 8 кг. Размер удлиненного туловища средний: до 60 см, а обхват груди &ndash; до 40 см (однако сама она довольно узкая, прямая, имеется подгрудок). Костяк тонкий, но прочный, голова большая, с широкими ушами длиной примерно 17 см, бедра выдаются в стороны, ноги длинные, прямые, умеренной толщины, глаза красные, шерсть длинная, пушистая, блестящая, упругая, хотя сам волосяной покров пореже и менее однородный, чем у <a href="#sovetskaya-shinshilla">шиншиллы</a>, цвет белый везде. От представителей данной породы получают большую шкурку.</p>
                    <p>Особенностью Белых великанов является высокая молочность самок, что роднит их с породой Советская шиншилла. В этом есть немалое преимущество, поскольку молодняк быстро набирает вес.</p>
                    <p>Так как кролики рассматриваемой породы тяжелые и при этом с узким туловищем, то для них не очень подходят закрытые помещения, они более склонны к <a href="{{ path('book_krolikovodstvo_profilaktika_i_lechenie') }}#mastit">маститу</a> и продерматиту, окролов приходится отбраковывать. Порой у кроликов имеются и другие недостатки.</p>
                    <p>По продуктивности разведение Белых великанов несколько ниже, чем Советских шиншилл. К тому же иногда рождаются кролики с пуховым волосяным покровом &ndash; их нужно отбраковывать, как и всех их близких родственников. За один окрол от одной самки, отличающейся хорошо развитыми материнскими качествами, получают 7&ndash;8 малышей.</p>
                    <p>Данная порода также является одной из самых популярных в личных хозяйствах.</p>
                </section>
                <section id="seryj-velikan" class="anchor">
                    <h3>Серый великан</h3>
                    <p>Порода отличается высокой продуктивностью (рис.&nbsp;3). Животные большие, разнообразной окраски: различных оттенков серого, белые, черные.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_seryj-velikan.jpg') }}" alt="Порода кролика Серый великан">
                    <p class="img-number">Рис. 3. Серый великан</p>
                    <p>Родиной породы можно считать Украину, где Серого великана вывели путем скрещивания <a href="#flandr">фландра</a> с местными беспородными экземплярами. В последующем породу совершенствовали для сохранения наиболее полезных хозяйственных признаков.</p>
                    <p>Поскольку в предках Серого великана находится фландр, то это обеспечило крупные размеры и немалый вес, тогда как от беспородных предков достались выносливость, жизнестойкость, приспособленность к местному климату, значительная плодовитость.</p>
                    <p>Телосложение у зверьков этой породы мощное, а порой даже грубоватое, с массивным костяком. Голова большая, огрубленная, уши длинные, толстые, тело вытянутое, длиной около 65 см с широкой и глубокой грудью и часто с внушительным подгрудком.</p>
                    <p>Спина длинная и широкая, прямая, ноги массивные, прямые. Масса зрелых особей в среднем составляет 5 кг, а некоторые экземпляры весят около 7 кг. Если сравнивать Серых великанов с кроликами смешанной мясо-шкурковой направленности, они выгодно смотрятся, однако проигрывают специализированным мясным породам.</p>
                    <p>На свет крольчата (в среднем по 7&ndash;8) появляются, как правило, с массой около 80 г и быстро наращивают ее в последующие несколько месяцев. От кроликов получают крупные шкурки, волосяной покров которых все-таки реже, чем у <a href="#sovetskaya-shinshilla">Советской шиншиллы</a> и некоторых других распространенных пород. Серые великаны более приспособлены к теплым условиям проживания, поэтому популярны в южных районах.</p>
                </section>
                <section id="serebristyj" class="anchor">
                    <h3>Серебристый</h3>
                    <p>Кролики отличаются довольно большими размерами и серебристым цветом волосяного покрова. На разных частях тела оттенок практически не отличается, за исключением кончика мордочки и ушей, верхней стороны хвоста и конечностей, которые несколько более темные.</p>
                    <p>Происхождение породы связано со зверосовхозами Тульской, Петровской и Полтавской областей, где ее вывели в середине XX в., взяв за основу породу <a href="#shampan">Шампань</a>, завезенную в Россию в 1920-х гг. Путем целенаправленной селекции сформировали большое поголовье животных, в выгодную сторону отличающихся от породы Шампань по мясной продуктивности и качеству шерсти.</p>
                    <p>У серебристых кроликов (рис.&nbsp;4) пропорциональное телосложение и крепкий скелет. Голова небольшая, с вертикально расположенными недлинными ушами, коротковатым (около 57 см) плотным туловищем, широкой грудью (нередко присутствует подгрудок), спина прямая, с хорошо развитой мускулатурой, лапы сильные, пропорциональные. Живая масса взрослых кроликов в среднем составляет около 4,5 кг, иногда до 6,5 кг. Молодняк при рождении весит около 75 г. Отличаются высокой скоростью роста. Данная порода характеризуется хорошими мясными качествами (мясо вкусное и сочное), а внешний вид тушек весьма привлекательный. За один раз у самки рождаются, как правило, 8 детенышей.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_serebristyj.jpg') }}" alt="Порода кролика Серебристый">
                    <p class="img-number">Рис. 4. Серебристый</p>
                    <p>Шкурки от Серебристых кроликов большие, с интересной окраской и хорошей опушенностью.</p>
                    <p>Популярность Серебристых кроликов не такая значительная, как у вышеописанных пород, несмотря на то, что этих кроликов можно разводить в разных регионах страны. Они замечательно акклиматизируются, практически так же хорошо, как <a href="#sovetskaya-shinshilla">шиншилла</a> или <a href="#venskij-goluboj">Венский голубой</a>. Если Серебристого качественно кормить, он хорошо чувствует себя в холодных условиях. Разводить животных лучше в клетках, а не в закрытых помещениях. В последнем случае будет наблюдаться снижение воспроизводительной способности.</p>
                </section>
                <section id="zolotistyj" class="anchor">
                    <h3>Золотистый</h3>
                    <p>Данная порода кроликов стала распространяться в СССР в 1970-е гг., а причиной их появления стала мутация у самок <a href="#seryj-velikan">Серого великана</a> (хозяйство располагалось в Крыму).</p>
                    <p>У кроликов этой породы оригинальный и красивый окрас волосяного покрова. Пух светло-желтый, брюхо, ноги, хвост белые, а остальное туловище золотистое. Конституция правильная, телосложение крепкое, спина прямая, лапы широко расставлены, голова среднего размера, удлиненная, с торчащими небольшими ушами и глазами коричневого цвета.</p>
                    <p>Взрослые особи весят в среднем 4,5 кг (в возрасте 3-х месяцев &ndash; около 2,4 кг). Самки приносят до 10 крольчат за один раз и отличаются хорошим материнским инстинктом. У детенышей окрас шерсти нередко более контрастный по сравнению со зрелыми особями.</p>
                    <p>По характеру представители Золотистой породы энергичные, подвижные. Разводят кроликов этой породы как из-за их необычной шкурки, так и из-за вкусного мяса. Мясная продуктивность почти такая же, как и у Серого великана.</p>
                </section>
                <section id="venskij-goluboj" class="anchor">
                    <h3>Венский голубой</h3>
                    <p>Свою родословную порода (рис.&nbsp;5) ведет из Австрии. Выведена в конце XIX в. путем элементарного скрещивания <a href="#flandr">фландра</a> с местными Венскими кроликами с шерстью голубого цвета. Сизо-голубых оставляли на племя.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_venskij-goluboj.jpg') }}" alt="Порода кролика Венский голубой">
                    <p class="img-number">Рис. 5. Венский голубой</p>
                    <p>Представители этой породы отличаются средними размерами, окрас шерсти сизо-голубой, тональность варьируется от светлого до темного. Окраска обычно равномерная, у основания волос несколько светлее. Пух темнее волос. Первоначально живая масса кроликов составляла около 3,6&ndash;3,9 кг, продуктивность (для того времени) была высокой. Самки приносили примерно 7 крольчат.</p>
                    <p>В СССР породу улучшали, и небезрезультатно &ndash; сейчас живая масса кроликов представленной породы в среднем составляет 4,5 кг, а масса некоторых экземпляров превышает 7 кг.</p>
                    <p>Животные крепкие, с правильным телосложением, легкой короткой головой, торчащими небольшими ушами, компактным, хотя и относительно крупным туловищем (57 см длиной), широкой грудью (иногда с подгрудком у самок), спина удлиненная и широкая, лапы сильные, прямые, умеренной толщины. При появлении на свет малыши весят около 70 г. Растут быстро, набирая 3 кг через 4 месяца. Кролики этой породы характеризуются средней производительностью.</p>
                    <p>От каждой самки рождается в среднем 8 крольчат, которые благодаря прекрасному материнскому инстинкту хорошо сохраняются. В основном от этой породы получают замечательные шкурки с мягким и пушистым мехом &ndash; в этом преимущество Венских голубых перед многими другими породами мясо-шкурного направления. Шкурки Венских кроликов высоко ценятся.</p>
                    <p>Животные легко приспосабливаются к новым климатическим условиям, выносливы, поэтому их разводят в совершенно разных регионах. Поскольку кролики хорошо переносят холод, то можно добиваться появления крольчат зимой, причем они успешно сохраняются, несмотря на низкие температуры. В связи с этим, животные данной породы не требовательны к условиям содержания &ndash; будь то клетки на улице либо крольчатники, оснащенные климатическим оборудованием.</p>
                </section>
                <section id="russkij-gornostaevyj" class="anchor">
                    <h3>Русский горностаевый</h3>
                    <p>Кролики этой породы (рис.&nbsp;6) отличаются небольшим размером, широким ареалом проживания &ndash; в разных частях планеты порода называется по-разному: гималайская, египетская, русская, антверпенская, китайская и др. Мех у животных белый, блестящий, а черный или темно-коричневый цвет имеется на ушах, кончике носа, лапках и хвосте. По расцветке мех напоминает горностаевый, в связи с чем порода и получила такое название.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_russkij-gornostaevyj.jpg') }}" alt="Порода кролика Русский горностаевый">
                    <p class="img-number">Рис. 6. Русский горностаевый</p>
                    <p>Точно неизвестно, откуда ведут свою родословную эти кролики. Достаточно убедительно выглядит теория о том, что кроликов данной породы получили от горностаевых кроликов шкурковой направленности, которых в первой четверти XX в. завезли из Англии.</p>
                    <p>Телосложение этих зверьков правильное, костяк крепкий. Туловище довольно короткое (около 50 см), широкое, максимальный вес зрелых кроликов раньше составлял всего 2,5 кг, в настоящее время &ndash; в среднем около 4 кг, а наибольший в районе 5 кг.</p>
                    <p>Голова достаточно маленькая, округлая, уши вертикально торчат, грудь широкая, спина прямая, лапы прямые, сильные.</p>
                    <p>Кролики этой породы выносливые, обладают устойчивым иммунитетом к заболеваниям, хорошо приспосабливаются к новым климатическим условиям. Самки приносят по 8 детенышей и проявляют хороший материнский инстинкт.</p>
                    <p>Сначала у молодняка окраска полностью белая, а черные и коричневые пятна образуются спустя несколько недель после рождения. В 6-месячном возрасте мех кроликов приобретает окончательную палитру. Как правило, горностаевых кроликов разводят для получения диетического мяса и небольших шкурок. Причем мех на шкурках очень красивый, приятный на ощупь, густой.</p>
                    <p>Надо сказать, что в России кролики данной породы не слишком распространены. Существует мнение, что разведение с направленностью на увеличение живой массы отрицательно сказалось на другом полезном качестве &ndash; густоте меха.</p>
                </section>
                <section id="sovetskij-marder" class="anchor">
                    <h3>Советский мардер</h3>
                    <p>Поскольку в переводе с немецкого слово «мардер» означает «куница», то можно догадаться, что кролики этой породы по окраске меха похожи на одноименное лесное млекопитающее (в основном светло-коричневый окрас, но мордочка, хвост и лапы более темные). Кроме того, из названия ясно, что порода выведена и СССР. Случилось это непосредственно в годы перед Великой Отечественной войной на территории Армянской ССР.</p>
                    <p>У Советских мардеров (рис.&nbsp;7) крепкое гармоничное телосложение, голова среднего размера, округлая, уши небольшие, туловище коренастное, плотно сбитое, грудь широкая &ndash; подгрудок не наблюдается, спина короткая, несколько закругленная, лапы крепкие, прямые.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_sovetskij-marder.jpg') }}" alt="Порода кролика Советский мардер">
                    <p class="img-number">Рис. 7. Советский мардер</p>
                    <p>Живая масса взрослых особей составляет около 3,8 кг, максимум &ndash; в районе 6,5 кг. Молодняк при появлении на свет весит примерно 60 г.</p>
                    <p>Самки дают многочисленное потомство: за один раз в среднем 11 малышей. Кролики этой породы ценятся за густой мягкий мех эффектной расцветки. Пух в шкурках также очень густой, поэтому шкурки в естественном виде используют для изготовления меховых изделий. Впрочем, из-за того, что окраска меха неравномерная, с местами то более светлого, то более темного оттенка, ценность шкурки снижается.</p>
                    <p>Лучше всего мардеры акклиматизированы в южных регионах. В Армении порода получила большое распространение.</p>
                </section>
                <section id="babochka" class="anchor">
                    <h3>Бабочка</h3>
                    <p>Родиной породы является Англия, где в конце XIX в. вывели кроликов с оригинальной шкуркой. Порода вскоре стала популярна у многих кролиководов по всему миру, а в разных странах на базе Бабочки создавали свои породы (рис.&nbsp;8).</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_babochka.jpg') }}" alt="Порода кролика Бабочка">
                    <p class="img-number">Рис. 8. Бабочка</p>
                    <p>По размеру кролики средние, с интересной окраской меха: основной фон белый, а по нему на спине и боках разбросаны пятна различной формы, на мордочке в стороны от носа на щеки отходят по 2 пятна, производя впечатление крыльев бабочки, из-за чего порода и получила свое название.</p>
                    <p>Когда кролики очутились в России, они не могли похвастаться внушительными размерами, достигая веса всего 3 кг. Породу пришлось совершенствовать, приспосабливая к отечественным климатическим и кормовым условиям, для чего осуществлялось скрещивание с <a href="#flandr">фландром</a>, <a href="#venskij-goluboj">Венским голубым</a> и др. В каждом поколении оставляли особей, наиболее отвечающих необходимым требованиям.</p>
                    <p>Сейчас живая масса кроликов составляет в основном около 4,2 кг. Зверьки обладают хорошим телосложением, крепким костяком, максимальная длина туловища около 55 см, грудь широкая, частенько с подгрудком, спина достаточно длинная, широкая, лапы прямые, сильные. У самцов голова довольно большая, округлая, а у самок она несколько вытянутая, среднего размера.</p>
                    <p>Самки приносят за один раз 8 детенышей, отличаются прекрасным материнским инстинктом, высокой молочностью.</p>
                    <p>Шкурки от представителей этой породы могут быть маленькие или большие, с мягким блестящим ровным мехом умеренной густоты. Пегий узор на шкуре весьма эффектный.</p>
                    <p>В России кролики данной породы не распространены. Обычно их разводят кролиководы-энтузиасты.</p>
                </section>
                <section id="flandr" class="anchor">
                    <h3>Фландр</h3>
                    <p>Фландр является одной из наиболее распространенных промышленных пород в мире. Иногда ее еще называют Бельгийский великан. В СССР (а сейчас в России) чаще всего встречалась разновидность породы под названием <a href="#belyj-velikan">Белый великан</a>. Но вообще у фландра окраска меха может быть разной: черной, голубой, серой, белой и т.д.</p>
                    <p>Родиной породы считается Бельгия, где ее якобы вывели в одноименной провинции в XIX в. Но достоверных сведений о настоящем происхождении этих кроликов нет. Существует мнение, что они были завезены из Аргентины в XVI столетии.</p>
                    <p>Животное характеризуется длинным туловищем (около 70 см), мощным костяком, крупной головой, прямостоячими большими ушами, отлично развитой широкой грудью, прямой спиной (порой с некоторым прогибом), окраска разных частей тела различается. Весят кролики в среднем около 5,5 кг, максимум &ndash; до 9 кг. От одной самки за один раз рождается 7 крольчат, живая масса которых составляет около 65 г.</p>
                    <p>В основном эту породу используют как основу для выведения новых, более продуктивных пород. Однако и сам по себе фландр очень мясистый, за что ценится многими кролиководами. Кроликов этой породы можно содержать в домашних условиях, такой домашний питомец достаточно распространен на Западе. Только надо учесть, что фландр, в отличие от декоративных кроликов, большое животное и ему понадобится больше пространства и пищи.</p>
                </section>
                <section id="rizen" class="anchor">
                    <h3>Ризен</h3>
                    <p>Если название перевести с немецкого языка, то получится «немецкий гигант». Порода достаточно известная и является производной от <a href="#flandr">фландров</a>. Иногда можно встретить мнение, что ризен и фландр &ndash; названия одной породы, однако это не так. Фландры распространились в Германии в конце XIX столетия. Тогда они были меньше, чем сейчас, и кролиководы, естественно, стремились улучшить породу, вероятно, скрещивая фландров с местными породами, пока не выделилась отдельная группа кроликов с устойчивыми признаками, получившая название Дойч ризен.</p>
                    <p>Живая масса зверьков составляет в среднем 7 кг, хотя некоторые редкие экземпляры ставят рекорды, достигая 10&ndash;14 кг. Туловище длинное (70 см), вытянутое, широкое, мясистое, крепкий костяк, лапы длинные, сильные, голова крупная, щеки полные, уши бывают довольно длинные (до 20 см), но широкие, прямостоячие, мех густой, слабо приминается, волосы длиной около 40 мм, глаза коричневого цвета.</p>
                    <p>На данный момент ризены &ndash; одна из наиболее популярных пород в Германии, которую разводят для того, чтобы получить вкусное мясо и замечательную шкурку. Впрочем, есть некоторые подводные камни, а именно позднее половое созревание не позволяет назвать породу рентабельной, так же, как специфические проблемы со здоровьем, потребность в большом количестве корма и обширном пространстве. Надо сказать, что к разведению в конкретной местности лучше всего подходит своя разновидность фландра, т.е. ризен оптимален для Германии, а для России &ndash; <a href="#seryj-velikan">Серый великан</a>.</p>
                    <p>Что касается содержания ризенов в домашних условиях, то такие случаи редки. Благодаря их спокойному характеру и высокому интеллекту, с этими животными приятно иметь дело, однако в семьи с маленькими детьми не рекомендуется брать ризенов. Очень маленьким детям ризены, по причине своей массивности, могут невзначай причинить вред. Мех у кроликов достаточно короткий и ухаживать за ним нетрудно, а вот о пространстве для животного подумать придется.</p>
                </section>
                <section id="novozelandskaya-krasnaya" class="anchor">
                    <h3>Новозеландская красная</h3>
                    <p>Родиной породы являются США, где ее вывели в начале XX в. как чисто мясную путем скрещивания Бельгийского зайца, <a href="#serebristyj">Серебристой</a> породы и <a href="#flandr">фландра</a> (рис.&nbsp;9). Отличается коротким густым и жестким мехом рыжеватого цвета. Туловище мясистое, недлинное, всего около 50 см. Голова маленькая, на короткой шее, уши короткие, спина и грудь широкие, подгрудок не наблюдается, ноги толстые, короткие.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_novozelandskaya-krasnaya.jpg') }}" alt="Порода кролика Новозеландская красная">
                    <p class="img-number">Рис. 9. Новозеландская красная</p>
                    <p>Взрослые зверьки весят около 4,6&ndash;4,9 кг, причем мужские особи крупнее женских. Из последних получаются заботливые мамаши с высокой молочностью, за один окрол приносящие около 10 малышей. Молодняк развивается быстро. Обычно его оставляют на пару месяцев под самкой, после чего забивают на мясо.</p>
                </section>
                <section id="cherno-ognennyj" class="anchor">
                    <h3>Черно-огненный</h3>
                    <p>Кролики этой породы впервые появились в Англии в конце XIX в. Выводилась она для получения шкурок, хотя мясо у кроликов весьма вкусное.</p>
                    <p>Размеры кроликов средние, весят они тоже не очень много (не более 3,5 кг), расцветка меха соответствует названию, т.е. черно-огненная. По бокам кролика, там, где сходятся черный и желтый оттенки, порой имеется яркая полоска, над которой растут светло-желтые волосы.</p>
                    <p>Кролики данной породы имеют крепкое, хотя временами немного изнеженное телосложение, легкую, сравнительно маленькую голову, туловище короткое, плотное, грудь не всегда широкую, спину прямую, лапы прямые, крепкие.</p>
                    <p>Кроликов этой породы выращивают из-за вкусного мяса и интересных шкурок. Мех густой, мягкий, приятный на ощупь, блестящий. Без обработки шкурки используют при пошиве меховых изделий, очень востребованных среди населения.</p>
                </section>
                <section id="cherno-buryj" class="anchor">
                    <h3>Черно-бурый</h3>
                    <p>Эту породу (рис.&nbsp;10) вывели в середине XX в. в СССР путем скрещивания <a href="#belyj-velikan">Белого великана</a>, <a href="#flandr">фландра</a> и <a href="#venskij-goluboj">Венского голубого</a>. Результат превзошел ожидания: получили племя высокопродуктивных кроликов, которых выделили в отдельную породу.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_cherno-buryj.jpg') }}" alt="Порода кролика Чёрно-бурый">
                    <p class="img-number">Рис. 10. Черно-бурый</p>
                    <p>Название пошло от окраски меха. Причина подобной расцветки заключается в том, что мех окрашен неоднородно. Если направляющие волосы черные (снизу светлее, чем сверху), то остевые по бокам кролика в основании голубовато-серые, затем повыше они бурые и желтовато-белые, а в самом верху черные. Пух светло-голубой. Поскольку кончики волос черные, то по всему телу животного образуется своего рода черное покрывало, которое создает интересный визуальный эффект. В итоге получается, что голова и спина животных черные, а бока черно-бурые.</p>
                    <p>Весят животные в среднем около 5 кг, максимум в районе 6,5 кг (иногда до 7 кг), отличаются умеренной скороспелостью, хорошей мясистостью.</p>
                    <p>Телосложение правильное, крепкое, несколько грубоватое, мощный костяк, голова большая, уши широкие средней длины (около 18 см). Туловище сильное, массивное, вытянутое (длина около 60 см), грудь широкая, нередко с развитым подгрудком, спина длинная, прямая, широкая, лапы прямые, длинные, толстые.</p>
                    <p>Молодняк при появлении на свет весит около 80 г. Если не экономить на питании, то к 3-х месячному возрасту они набирают около 2,5 кг.</p>
                    <p>Самки приносят за один окрол в среднем 8 малышей, после чего обильно поят их молоком и проявляют исключительную заботу.</p>
                    <p>Как правило, в коммерческом отношении кролики полезны благодаря своим шкуркам с оригинально окрашенным мехом. У кроликов данной породы плотность пуха наивысшая по сравнению с другими породами. В обработке шкурки нет необходимости &ndash; для изготовления меховых изделий их используют в натуральном виде.</p>
                    <p>Кролики этой породы отлично чувствуют себя в Средней полосе России.</p>
                </section>
                <section id="tyuringenskij" class="anchor">
                    <h3>Тюрингенский</h3>
                    <p>Для России это редкий вид кроликов шкуркового направления, хотя в Европе весьма распространен, где его разводят кролиководы и держат в качестве домашнего животного.</p>
                    <p>Родиной зверюшек является Германия, а точнее, одноименные земли. Считается, что порода выведена в конце XIX &ndash; начале XX в. путем скрещивания представителей <a href="#flandr">фландров</a>, арджентов, <a href="#russkij-gornostaevyj">русских горностаевых</a> пород.</p>
                    <p>Широкому разведению породы препятствует то, что ее отличительные признаки довольно зыбки и с трудом сохраняются. В России существуют другие похожие породы, которые более приспособлены к местным условиям, &ndash; наверное, в этом причина нераспространенности тюрингена.</p>
                    <p>У кроликов тюрингенской породы средний размер, живая масса в среднем около 4 кг. Туловище довольно короткое, сбитое, округлое. Голова широкая, несколько сплюснутая по вертикали, шея короткая, глаза темно-коричневые, уши прямостоячие, длиной чуть более 10 см, закругленные, лапы сильные, умеренной длины, на желто-песочном мехе разбросаны темные пятна.</p>
                    <p>Окраска у молодняка при рождении однообразная, а темные пятна появляются с возрастом. Мех густой, красивый, гладкий. Надо сказать, что от сезона к сезону в течение года оттенок меха несколько изменяется, становясь то темнее, то светлее.</p>
                    <p>У кролиководов очень ценится шкурка тюрингена с изысканным плотным меховым покровом, а также вкусное мясо.</p>
                    <p>В Европе кроликов этой породы частенько содержат в качестве домашних питомцев. По характеру животное милое, активное, доброе, к тому же с красивой и оригинальной внешностью. Какого-то особенного ухода кролик не требует.</p>
                </section>
                <section id="reks" class="anchor">
                    <h3>Рекс</h3>
                    <p>Кроликов данной породы (рис.&nbsp;11) получили во Франции в первой четверти XX в. В Россию животные попали из Германии. Поскольку шкурка с великолепным волосяным покровом ценится высоко, то разводить их экономически целесообразно.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_reks.jpg') }}" alt="Порода кролика Рекс">
                    <p class="img-number">Рис. 11. Рекс</p>
                    <p>Мех у этих кроликов весьма специфический. Было время, когда его приводили в пример всем остальным как эталонный &ndash; бытовало мнение, что у рексов отсутствуют остевые волосы, в результате чего мех походит на велюр. Впрочем, это заблуждение было впоследствии развеяно. Оказалось, что у кроликов этой породы короткие и тонкие волосы (длина остевых и направляющих около 18&ndash;20 мм, а пуха, приблизительно 17&ndash;18 мм), намного тоньше, чем у других шерстных пород, хотя соотношение количества волос разного вида то же, что и у других кроликов мясо-шкуркового направления. Поскольку остевые волосы и пух частенько одинаковой длины, то мех выглядит очень ровным, производя впечатление подстриженного.</p>
                    <p>Цветовая раскраска бывает разной: бобровая с темно-коричневой спиной, светлыми боками и белым животом, шиншилловая, черная, белая и т. д. (около 20 вариантов).</p>
                    <p>Голова маленькая, несколько удлиненная, уши умеренной длины и толщины, грудь узкая, имеется подгрудок, спина узкая, вытянутая, порой с незначительным горбом, конечности тонкие и прямые.</p>
                    <p>Самки не слишком плодовиты &ndash; приносят около 6 малышей за окрол (4&ndash;5 раз в год). Взрослые особи длиной около 50 см, весят в среднем 4 кг.</p>
                    <p>Рексы склонны к заболеванию <a href="{{ path('book_krolikovodstvo_profilaktika_i_lechenie') }}#pododermatit">пододерматитом</a> (язвы на лапах), поэтому их не содержат в клетках с сетчатым полом, а подкладывают толстую соломенную подстилку (можно из сена, но это нехорошо в плане гигиены), либо помещают в клетки с реечным или фанерным полом. В последнем случае фанера должна быть достаточно толстая, не менее 1 см.</p>
                </section>
                <section id="shampan" class="anchor">
                    <h3>Шампань</h3>
                    <p>Одна из древнейших пород кроликов мясо-шкурковой направленности (возраст насчитывает свыше четырех столетий). Кролики этой породы всегда ценились за великолепную шкурку с мехом серебристой окраски, напоминающим старинное серебро, а также за вкусное мясо. Родиной считается Индия, однако название порода получила от одноименной французской провинции, где ее сохранили и усовершенствовали. В Северной Америке кролики оказались в 1920-х гг., а в СССР на основе французской породы вывели собственную под названием «<a href="#serebristyj">серебристая</a>» &ndash; она лучше приспособлена к отечественным условиям.</p>
                    <p>Туловище у кроликов средней длины, к голове сужается, крепкий костяк, спина округлая, грудь широкая, порой с маленьким подгрудком, голова среднего размера, уши прямостоячие недлинные, округлые. Шерсть мягкая, блестящая, серебристого окраса. На кончике морды частенько бывает пятно черного цвета в стороны от носа, а также черные уши, вокруг глаз, кое-где на лапах и хвосте. Серебристый оттенок обусловлен тем, что у кроликов остевые волосы белые и черные, а пух голубой. Разное соотношение тех или иных волос приводит к тому, что кролики могут быть темными или светлыми. В зависимости от пропорционального содержания различных волосков, в итоге животные получаются темные или светлые (лучше всего, если умеренно серые). Конечности недлинные, ровные, сильные. Цвет глаз карий. Любопытно, что молодняк появляется на свет практически полностью черный, но через несколько недель запускается процесс осветления, который завершается примерно к 6-му месяцу жизни.</p>
                    <p>Разводить эту породу весьма выгодно, она хорошо откармливается и быстро набирает вес, давая кролиководу вкусное мясо и ценную шкурку. Впрочем, доступны и более рентабельные породы, поэтому популярность шампани в коммерческих целях не слишком высока. Однако энтузиасты активно внедряют в массы любимую породу. По продуктивности кролики этой породы схожи с представителями <a href="#sovetskaya-shinshilla">Советских шиншилл</a> и <a href="#seryj-velikan">Серых великанов</a>. Как правило, шампанских держат, пока они не достигнут возраста 3,5 года. Также необходимо сказать, что они плохо переносят жару. В одном приплоде рождается 5&ndash;6 крольчат.</p>
                    <p>Внешний вид шампанских кроликов очень эффектный и вполне можно было бы заводить их в качестве домашних животных. Некоторые так и делают, утверждая, что лучше породы для домашнего содержания кроликов не найти. Они очень мягкие по характеру, послушные, подвижные (необходимо достаточно свободного места) и неагрессивные. Никакого особенного ухода за шерстью кроликов не требуется. Несмотря на это, порода в основном рассматривается как промышленная.</p>
                </section>
                <section id="beveren" class="anchor">
                    <h3>Беверен</h3>
                    <p>Родословная породы уходит корнями в Бельгию конца XIX в., в одноименный город. Эти животные отличаются большим размером: женские особи достигают 4, 5 кг, а мужские &ndash; 4 кг. Отличительной характеристикой кроликов являются красивые уши, небольшие, прямостоячие. Между ушами формируется буква V.</p>
                    <p>Окраска меха бывает белой, голубой или черной. Изначальным был именно голубой цвет, причем мех в глубине мог быть лавандовым. Неприемлемо, если имеются темно-голубые участки и серебристый отлив. Цвет глаз голубовато-серый.</p>
                    <p>Белый кролик должен быть чисто белым, без оттенков. Цвет глаз ярко-голубой. Черный волосяной покров остается черным и в глубине, только подшерсток темно-голубой. Цвет глаз темно-коричневый.</p>
                    <p>Надо сказать, что беверены являются достаточно редкими. Женские особи рожают много крольчат и хорошо о них заботятся впоследствии.</p>
                </section>
                <section id="alyaska" class="anchor">
                    <h3>Аляска</h3>
                    <p>Эти кролики мясо-шкуркового направления обладают средними размерами, черным глянцевым мехом с темным подшерстком (рис.&nbsp;12). Родиной породы является Германия, где ее вывели в первой четверти XX столетия.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_alyaska.jpg') }}" alt="Порода кролика Аляска">
                    <p class="img-number">Рис. 12. Аляска</p>
                    <p>У представителей этой породы правильное телосложение, туловище вытянутое, длиной 43&ndash;45 см, приземистое, формы округлые, шеи практически нет, голова овальная, несколько удлиненная, глаза карие, спина короткая, чуть выгнута вверх, грудь широкая, конечности умеренной длины, мощные, уши средней длины, прямостоячие, черно-бурого цвета, волосяной покров густой, длинный, сверху волос черный и глянцевый, а снизу голубой, на животе черный, порой матовый, весят кролики 3,3&ndash;3,9 кг.</p>
                    <p>Самки хорошие матери, с высокой молочностью, за один окрол приносят в среднем 6 малышей. Кролики непривередливы к условиям содержания.</p>
                    <p>Помимо мяса, от кроликов получают шкурки разного размера с однотонным волосяным покровом.</p>
                    <p>Иногда можно увидеть кроликов с матовым и рыжеватым мехом. Или же бывают островки белых волос, но это нежелательный признак. В основном разведением Аляски занимаются кролиководы-любители.</p>
                </section>
            </section>
            <section id="myasnye" class="anchor">
                <h2>Мясные</h2>
                <section id="novozelandskaya-belaya" class="anchor">
                    <h3>Новозеландская белая</h3>
                    <p>Белые кролики среднего размера (рис.&nbsp;13). Родиной являются США, где в начале XX в. породу вывели, взяв за основу белые экземпляры породы <a href="#novozelandskaya-krasnaya">Новозеландская красная</a>. Потом выделенную породу белых улучшали, отбирая по скорости роста, живой массе, убойному выходу и качеству мяса. Кроме того, рассматриваемая порода была скрещена с кроликами породы <a href="#flandr">Фландр</a>, чтобы увеличить живую массу. В 1970-х гг. Новозеландские белые появились в СССР. Акклиматизация в новых условиях для кроликов прошла отлично.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_novozelandskaya-belaya.jpg') }}" alt="Порода кролика Новозеландская белая">
                    <p class="img-number">Рис. 13. Новозеландская белая</p>
                    <p>Взрослые кролики весят около 4,5 кг (максимум 5 кг), характеризуются правильным и крепким телосложением, мощным костяком, относительно маленькой головой, уши недлинные, тонкие, торчащие, туловище средней длины (у самцов около 47 см, а у самок примерно 50 см), пропорциональное, мускулистое, грудь широкая, спина прямая, широкая, мясистая, лапы прямые, сильные, обросшие, опушенные (что особенно важно при содержании на решетчатом полу).</p>
                    <p>Представители Новозеландской белой быстро растут, особенно молодняк, который появляется на свет с массой всего 45 г, но за 3 месяца набирает 3 кг. Порода весьма плодовитая: самки отличаются высокой молочностью и хорошим материнским инстинктом. За один окрол приносят в среднем 10 малышей, в связи с чем кроликов этой породы выращивают как бройлеров. В основном разводят на мясо, а шкурка является своего рода дополнительным бонусом. Она может быть разного размера, белого окраса без примесей, с густым и плотным мехом.</p>
                    <p>У кроликов рассматриваемой породы спокойный характер, немного большая стрессоустойчивость по сравнению с другими породами. Поскольку снизу все лапы имеют волосяной покров, то кролики хорошо чувствуют себя и в клетках с сетчатым полом.</p>
                    <p>По поводу разведения Новозеландской белой есть некоторые замечания. Если породу смешать с <a href="#flandr">Бельгийским великаном</a> (Новозеландская должна быть материнской), то интенсивность роста будет еще больше. Из-за повышенной скороспелости Новозеландские кролики склонны к ожирению в юности. Впервые спаривать их нужно до того, как им исполнится 6 месяцев.</p>
                </section>
                <section id="kalifornijskaya" class="anchor">
                    <h3>Калифорнийская</h3>
                    <p>Как следует из названия, родиной породы является Калифорния. По размеру кролики средние, окрас по преимуществу белый, хотя уши, кончике носа, лап, хвоста темно-коричневые (рис.&nbsp;14). Иногда встречаются кролики голубого, сиреневого, шоколадного цвета. Порода выведена путем скрещивания <a href="#novozelandskaya-belaya">Новозеландской белой</a>, <a href="#russkij-gornostaevyj">Русской горностаевой</a>, <a href="#sovetskaya-shinshilla">шиншиллы</a> большого размера. В дальнейшем отбирали экземпляры, отвечающие необходимым требованиям. В Россию порода была завезена в начале 1970-х гг.</p>
                    <img class="img-fluid" src="{{ asset('build/images/static/krolikovodstvo_kalifornijskaya.jpg') }}" alt="Порода кролика Калифорнийская">
                    <p class="img-number">Рис. 14. Калифорнийская</p>
                    <p>Телосложение кроликов правильное, костяк крепкий, несмотря на легкость и тонкость. Голова легкая, прямостоячие уши длиной всего около 11 см, шея короткая, подгрудок не наблюдается, туловище компактное, сбитое, гармоничное, с развитой мускулатурой, грудь широкая, спина с бугорком, короткая, широкая, конечности короткие, толстые, глаза розовые. Мех густой, волосы восстанавливают положение после поглаживания.</p>
                    <p>Живая масса зрелых кроликов в среднем составляет 5 кг. Новорожденные весят в районе 45 г, а в возрасте 4-х месяцев их вес превышает 4 кг. Затем скорость роста заметно снижается.</p>
                    <p>Калифорнийская порода считается второй по популярности мясной породой в мире. Это и понятно, ведь калифорнийцы замечательно приспосабливаются к разным условиям окружающей среды. От этих кроликов получают не только отличное мясо, но и прекрасную шкурку.</p>
                    <p>Самки, являясь хорошими матерями с высокой молочностью, приносят чаще всего 8 малышей за один раз. Если использовать уплотненные окролы, то за год вполне реально получать до 35 крольчат.</p>
                    <p>Поскольку калифорнийцы красивые, средние по размеру, умные, добрые, то могут быть хорошими домашними питомцами. Впрочем, если в доме маленькие дети, то лучше выбирать кроликов поменьше &ndash; с калифорнийским детям все же будет сложно справиться.</p>
                </section>
                <section id="burgundskaya" class="anchor">
                    <h3>Бургундская</h3>
                    <p>Выведена во Франции на основе <a href="#novozelandskaya-krasnaya">Новозеландской красной</a> и <a href="#kalifornijskaya">Калифорнийской</a> в начале XX в. в одноименной провинции, а с 1960-х гг. распространилась по европейским странам. В России появилась в начале 1990-х гг. В скандинавских странах, Италии эта порода считается одной из лучших среди мясных.</p>
                    <p>Кролики обладают крепким и гармоничным телосложением, надежным костяком, в то же время легким, компактным, несколько удлиненным стройным туловищем, относительно маленькой головой с вертикально стоящими ушами умеренной длины (около 12 см), короткой шеей, широкой грудью, прямой, короткой и широкой спиной, отлично развитой мускулатурой. Волосяное покрытие желто-красное (светло-ржавое).</p>
                    <p>Живая масса зрелого кролика составляет в среднем 5 кг. Женские особи обладают хорошими материнскими качествами, высокой молочностью и приносят в помете до 12 крольчат за один раз. Молодняк не склонен к болезням кишечно-желудочного тракта.</p>
                </section>
            </section>
        </section>
        <br>
    </main>
{% endblock %}
