{% extends "base.html.twig" %}

{% set metaDesc = "Официальный сайт фермы «Сибирский ковчег»" %}
{% set metaKey  = "домашние сыры, йогурт, творог, козье молоко" %}

{% block title %} Купить домашние сыры, йогурт, творог, козье молоко в Новосибирске {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block content %}
    <main class="content">
        <div class="slider-wrapper">
            <aside class="slider d-none d-md-block">
                <div class="js-slider">
                    <img src="{{ asset('build/images/static/slider-7ajkqr0xqe.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-5fr2g8ivxv.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-erw4dtsqt4.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-f6boy63lvi.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-guf3wdr02s.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-husj8u2k2j.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-djjpa6zjmd.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-s6y4mtd0lh.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-y2b5w79oot.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-uvywzg5yyj.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-ua011d3hsd.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-use9mspvrw.jpg') }}" alt="">
                </div>
            </aside>
        </div>
        <header>
            <h1 class="text-center" style="color: #651b00">Наша продукция</h1>
        </header>
        <article>
            <section>
                <p class="no-padding-bottom text-center" style="margin: 0 3em;">Наша ферма расположена вдали от населённых пунктов и окружена лугами. Именно здесь произрастает множество трав, которые положительно влияют на здоровье животных, а также улучшают качество и вкус продукции. Концентрированные корма (зерновые) приобретаются только у проверенных фермеров, которые выращивают их без использования химикатов.</p>
                <p class="no-padding-bottom text-center" style="margin: 0 3em;">В хозяйстве проводится тщательный селекционный отбор высокопродуктивных животных и птицы. Содержание и уход ведутся на высшем уровне &ndash; к каждому животному у нас индивидуальный подход.</p>
                <p class="no-padding-bottom text-center" style="margin: 0 3em;">Приобретая нашу продукцию, вы всегда можете быть уверены в её высоком качестве.</p>
            </section>
            <section>
                <h2 class="text-left">&nbsp;</h2>
                <div class="row">
                    <div class="col-6"><img src="{{ asset('build/images/static/glavnaya-molochnaya-produktsiya.jpg') }}" style="width: 100%;" alt="Молочная продукция"></div>
                    <div class="col-6">
                        <h2 style="color: #651b00;">Молочная продукция</h2>
                        <p>На ферме мы получаем натуральное цельное молоко высшего сорта от наших коров и козочек, используя машинное доение.</p>
                        <p>Из коровьего молока мы производим сливки, творог и масло. Козье молоко у нас используется для производства йогурта, творога и сыров.</p>
                        <p>Мы содержим коз только породы Ламанча, их молоко не имеет специфического запаха и обладает слегка сладковатым пломбирно-сливочным привкусом. Жирность молока этих козочек не менее 4%, идеально подходит для приготовления высококачественных сыров.</p>
                        <p class="d-none">
                            <a href="#"
                               class="btn"
                               style="color: #651b00; background-color: #d9b282; border-color: #d9b282; padding: 0.375em 1em;">
                                Перейти в раздел >
                            </a>
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <h2 style="color: #651b00;">Мясо и яйца</h2>
                        <p>При желании у нас вы можете приобрести фермерское яйцо от наших курочек, мясо кролика, гуся, утки, индейки, петушка по предварительному заказу. Мы гарантируем, что мясо будет свежим, парным, самого высокого качества. Фермерское мясо и яйцо существенно отличается от того, которое иногда можно встретить в продаже в магазинах и на рынках, как по своим вкусовым качествам, так и по степени полезности.</p>
                        <p>Наши животные и птица содержатся в условиях, максимально приближенных к природным: напольно-выгульное содержание, бережный уход и натуральные корма. Рацион составляют питательные зерновые корма без гормонов и стимуляторов роста. При содержании животных и птицы не используются антибиотики.</p>
                        <p class="d-none">
                            <a href="#"
                               class="btn"
                               style="color: #651b00; background-color: #d9b282; border-color: #d9b282; padding: 0.375em 1em;">
                                Перейти в раздел >
                            </a>
                        </p>
                    </div>
                    <div class="col-6"><img src="{{ asset('build/images/static/glavnaya-myaso-i-yajtsa.jpg') }}" style="width: 100%;" alt="Мясо и яйца"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6"><img src="{{ asset('build/images/static/glavnaya-plemennoj-molodnyak.jpg') }}" style="width: 100%;" alt="Племенной молодняк"></div>
                    <div class="col-6">
                        <h2 style="color: #651b00;">Племенной молодняк</h2>
                        <p>Мы занимаемся разведение кроликов породы Рекс. Они знамениты потрясающей плюшевой шубкой разнообразных окрасов. Обладают спокойным, дружелюбным нравом, эффектной внешностью и отличными материнскими качествами. В сравнении с другим породами Рекс даёт больший выход по мясу с лучшими вкусовыми качествами.</p>
                        <p>На нашей ферме ведётся селекционная работа по козоводству, в основе &ndash; козы породы Ламанча. Это &ndash; высокопродуктивная молочная порода. Отсутствие запаха, маленькие уши, средний размер животных и разнообразие окрасов радуют глаз. Ласковые, покладистые, не крикливые козочки. Обладают крепкой имунной системой, хорошо подходящей для разведения в наших сибирских условиях. Козы породы Ламанча имеют красивое вымя правильной формы, обладают высокой молочной продуктивностью и универсальной жирностью молока, которая подходит для производства сыров и творога.</p><p>Наши козочки &ndash; американской селекции (с документами о происхождении), завезены с юга.</p>
                        <p class="d-none">
                            <a href="#"
                               class="btn"
                               style="color: #651b00; background-color: #d9b282; border-color: #d9b282; padding: 0.375em 1em;">
                                Перейти в раздел >
                            </a>
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <h2 style="color: #651b00;">Инкубационное яйцо и птенцы</h2>
                        <p>Значительная доля внимания на ферме уделяется породной птице. У нас представлены куры мясо-яичного направления (пушкинская, царскосельская, загорская лососёвая, амрокс), гусь (крупный серый и итальянский белый), утка породы агидель, индейка бронзовая и белая широкогрудая.</p><p>Для формирования родительского стада нашей птицы, основная доля инкубационного яйца приобретается в «Генофонд» ВНИИГРЖ (Санкт-Петербург – Пушкин). Также как и по другим нашим животным, по птице ведётся тщательный селекционный отбор.</p>
                        <p>У нас вы всегда можете приобрести инкубационное яйцо и заказать суточных цыплят.</p>
                        <p class="d-none">
                            <a href="#"
                               class="btn"
                               style="color: #651b00; background-color: #d9b282; border-color: #d9b282; padding: 0.375em 1em;">
                                Перейти в раздел >
                            </a>
                        </p>
                    </div>
                    <div class="col-6"><img src="{{ asset('build/images/static/glavnaya-inkubatsionnoe-yajtso-i-ptentsy.jpg') }}" style="width: 100%;" alt="Инкубационное яйцо и птенцы"></div>
                </div>
            </section>
        </article>
        <br>
    </main>
{% endblock %}
