{% extends "base.html.twig" %}

{% set metaDesc = "Официальный сайты фермы «Сибирский ковчег»" %}
{% set metaKey  = "домашние сыры, йогурт, творог, козье молоко" %}

{% block title %} Купить домашние сыры, йогурт, творог, козье молоко в Новосибирске {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block content %}
    <main class="content">
        <div class="slider-wrapper">
            <aside class="slider d-none d-md-block">
                <div class="js-slider">
                    <img src="{{ asset('build/images/static/slider-7ajkqr0xqe.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-5fr2g8ivxv.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-erw4dtsqt4.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-f6boy63lvi.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-guf3wdr02s.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-husj8u2k2j.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-djjpa6zjmd.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-s6y4mtd0lh.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-y2b5w79oot.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-uvywzg5yyj.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-ua011d3hsd.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-use9mspvrw.jpg') }}" alt="">
                </div>
            </aside>
        </div>
        <h1 class="text-center">О нашей ферме</h1>
        <p class="no-padding-bottom">Ферма расположена вблизи с. Локти Мошковского района Новосибирской области, 25 км от Новосибирска.</p>
        <p class="no-padding-bottom">Мы занимаемся разведением чистопородных козочек породы Ламанча. Козочки американской селекции (с документами), завезены с юга в 2018 году. У нас вы можете приобрести:</p>
        <div class="breed-list">
            <div class="row">
                <ul class="col-sm-12 col-md-11 offset-md-1">
                    <li><strong>цельное козье молоко</strong>,</li>
                    <li><strong>натуральный йогурт</strong>,</li>
                    <li><strong>йогурт с добавлением ягод</strong> (виктория),</li>
                    <li><strong>творог из цельного молока</strong> (жирность не менее 24%),</li>
                    <li><strong>сыр Качотта классический</strong>,</li>
                    <li><strong>сыр Маасдам</strong>,</li>
                    <li><strong>сыр Гауда</strong>.</li>
                </ul>
            </div>
        </div>

        <p>Также на ферме ведётся работа по племенному птицеводству, в основе &ndash; мясо-яичные породы кур, гуси и утки.</p>

        <div class="image-aside">
            <img class="img-fluid" src="{{ asset('build/images/static/fedorov-igor-gennadevich.jpg') }}" alt="Федоров Игорь Геннадьевич">
        </div>
        <p>Хозяйство было образовано в 2007 году Федоровым Игорем Геннадьевичем после окончания Новосибирского государственного аграрного университета. Глава хозяйства имеет квалификацию «Зооинженер» по направлению «Генетика и селекция сельскохозяйственных животных» (диплом с отличием).</p>
        <p>Начиная с 2015 года хозяйство имеет официальный статус крестьянского (фермерского) хозяйства &ndash; К(Ф)Х. По результатам конкурсного отбора глава хозяйства получил государственную поддержку в виде гранта на создание и развитие К(Ф)Х в рамках ведомственной целевой программы «Развитие сельского хозяйства и регулирование рынков сельскохозяйственной продукции, сырья и продовольствия в Новосибирской области на 2013&ndash;2020 годы». Благодаря государственной поддержке вблизи с.&nbsp;Локти Мошковского района Новосибирской области на базе хозяйства была создана ферма «Сибирский ковчег».</p>
        <p>Наши животные и птица состоят на учёте в «ГБУ НСО Управление ветеринарии Мошковского района НСО».</p>
    </main>
{% endblock %}
