{% extends "base.html.twig" %}

{% set metaDesc = "Официальный сайты фермы «Сибирский ковчег»" %}
{% set metaKey  = "продажа кроликов, инкубационное яйцо, породные куры, шкурки кролика" %}

{% block title %} Кролик рекс, инкубационное яйцо, кролики мясных пород {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block content %}
    <main class="content">
        <div class="slider-wrapper">
            <aside class="slider d-none d-md-block">
                <div class="js-slider">
                    <img src="{{ asset('build/images/static/slider-5fr2g8ivxv.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-kroliki-8g1y90vlu3.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-erw4dtsqt4.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-kroliki-zgot3lf6kt.jpg') }}" alt="">
{#                    <img src="{{ asset('build/images/static/slider-f6boy63lvi.jpg') }}" alt="">#}
                    <img src="" data-lazy="{{ asset('build/images/static/slider-kroliki-guf3wdr02s.jpg') }}" alt="">
{#                    <img src="" data-lazy="{{ asset('build/images/static/slider-husj8u2k2j.jpg') }}" alt="">#}
{#                    <img src="" data-lazy="{{ asset('build/images/static/slider-djjpa6zjmd.jpg') }}" alt="">#}
                    <img src="" data-lazy="{{ asset('build/images/static/slider-s6y4mtd0lh.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-kroliki-73tq04qm7s.jpg') }}" alt="">
                    <img src="" data-lazy="{{ asset('build/images/static/slider-kroliki-y2b5w79oot.jpg') }}" alt="">
{#                    <img src="" data-lazy="{{ asset('build/images/static/slider-uvywzg5yyj.jpg') }}" alt="">#}
{#                    <img src="" data-lazy="{{ asset('build/images/static/slider-ua011d3hsd.jpg') }}" alt="">#}
{#                    <img src="" data-lazy="{{ asset('build/images/static/slider-dwmcm1elzc.jpg') }}" alt="">#}
{#                    <img src="" data-lazy="{{ asset('build/images/static/slider-use9mspvrw.jpg') }}" alt="">#}
                    <img src="" data-lazy="{{ asset('build/images/static/slider-b2l7pigeq5.jpg') }}" alt="">
                </div>
            </aside>
        </div>
        <h1 class="text-center">О нашей ферме</h1>
        <p class="no-padding-bottom">Ферма расположена вблизи с. Локти Мошковского района Новосибирской области, 25 км от Новосибирска.</p>
        <p class="no-padding-bottom">Работа в хозяйстве ведётся по двум направлениям &mdash; кролиководство и птицеводство. Племенное ядро хозяйства состоит из 20 кролов-производителей и 60 кроликоматок пород <strong>рекс</strong> и <strong>серый великан</strong>. Хозяйство занимается разведением породных кур мясо-яичного направления:</p>
        <div class="breed-list">
            <div class="row">
                <ul class="col-sm-6 col-lg-5 offset-lg-1">
                    <li><strong><a href="{{ path('product_index') }}#kuchinskaya_yubilejnaya">кучинская юбилейная</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#zagorskaya-lososevaya">загорская лососёвая</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#avstralorp-chyornyj">австралорп чёрный</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#susseks">суссекс колумбийский</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#pushkinskaya">пушкинская</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#ameraukana">амераукана</a></strong> (пасхальная курица),</li>
                    <li><strong><a href="{{ path('product_index') }}#livenskaya-sittsevaya">ливенская ситцевая</a></strong>,</li>
                </ul>
                <ul class="col-sm-6">
                    <li><strong><a href="{{ path('product_index') }}#barbyozyo">барбёзьё</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#barnevelder">барневельдер золотистый чёрно-окаймлённый</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#viandot">виандот серебристый чёрно-окаймлённый</a></strong> (стандарт),</li>
                    <li><strong><a href="{{ path('product_index') }}#faverol">фавероль белая</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#mekhelenskaya-kukushka">мехеленская кукушка (малин)</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#maran">маран чёрный серебристогривый</a></strong>.</li>
                </ul>
            </div>
        </div>

        <p>Основная продукция хозяйства &mdash; племенной молодняк, мясо и выделанные шкурки кролика, инкубационное яйцо кур, гусей и уток.</p>

        <div class="image-aside">
            <img class="img-fluid" src="{{ asset('build/images/static/fedorov-igor-gennadevich.jpg') }}" alt="Федоров Игорь Геннадьевич">
        </div>
        <p>Хозяйство было образовано в 2007 году Федоровым Игорем Геннадьевичем после окончания Новосибирского государственного аграрного университета. Глава хозяйства имеет квалификацию «Зооинженер» по направлению «Генетика и селекция сельскохозяйственных животных» (диплом с отличием).</p>
        <p>Начиная с 2015 года хозяйство имеет официальный статус крестьянского (фермерского) хозяйства &ndash; К(Ф)Х. По результатам конкурсного отбора глава хозяйства получил государственную поддержку в виде гранта на создание и развитие К(Ф)Х в рамках ведомственной целевой программы «Развитие сельского хозяйства и регулирование рынков сельскохозяйственной продукции, сырья и продовольствия в Новосибирской области на 2013&ndash;2020 годы». Благодаря государственной поддержке вблизи с.&nbsp;Локти Мошковского района Новосибирской области на базе хозяйства была создана ферма «Сибирский ковчег».</p>
        <p>Наши животные и птица состоят на учёте в «ГБУ НСО Управление ветеринарии Мошковского района НСО».</p>
    </main>
{% endblock %}
