<!DOCTYPE html>
<html lang="ru">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="{{ metaDesc }}">
        <meta name="keywords" content="{{ metaKey }}">

        <title>{% block title %}{% endblock %} – Ферма «Сибирский ковчег»</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/fontello/fontello.compressed.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style/style.compressed2.css') }}">

        {# Site icons #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

        {% block stylesheets %}{% endblock %}

        {# jQuery #}
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        {# Yandex.Metrika counter #}
        <script async src="{{ asset('js/yandex/yandex.metrika.compressed.js') }}"></script>
        <noscript><div><img src="//mc.yandex.ru/watch/21231592" style="position:absolute; left:-9999px;" alt=""></div></noscript>

        {# Bootstrap #}
        <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        {# Sticky nav line #}
        <script defer src="{{ asset('js/sticky.nav/sticky.nav.compressed.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% include '_header.html.twig' %}

            {% block content %}{% endblock %}

            {% include '_footer.html.twig' %}
        </div>
    </body>
</html>
