<!DOCTYPE html>
<html lang="ru">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="{{ metaDesc }}">
        <meta name="keywords" content="{{ metaKey }}">

        <title>{% block title %}{% endblock %} – Ферма «Сибирский ковчег»</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/fontello/fontello.compressed.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style/style.compressed2.css') }}">

        {# Site icons #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

        {% block stylesheets %}{% endblock %}

        {# jQuery #}
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        {# Yandex.Metrika counter #}
        <script async src="{{ asset('js/yandex/yandex.metrika.compressed.js') }}"></script>
        <noscript><div><img src="//mc.yandex.ru/watch/21231592" style="position:absolute; left:-9999px;" alt=""></div></noscript>

        {# Bootstrap #}
        <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        {# Sticky nav line #}
        <script defer src="{{ asset('js/sticky.nav/sticky.nav.compressed.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <div id="header">
                    <div id="header-phones">
                        <a href="tel:+79137917783">8-913-791-77-83</a>
                        <a href="tel:+79639472148">8-963-947-21-48</a>
                    </div>
                    <div class="header-name-wrapper">
                        <div id="header-name" class="header-name-content">
                            <img src="{{ asset('images/header_name.png') }}" alt="Ферма «Сибирский ковчег»">
                        </div>
                    </div>
                </div>

                <nav class="navbar header-navbar navbar-dark" data-toggle="sticky-onscroll" style="display: none;">
                    <input id="navbar-toggle-cbox" type="checkbox">
                    <label class="navbar-toggler d-lg-none" for="navbar-toggle-cbox" data-toggle="collapse"
                           data-target="#app-navbar-collapse"></label>
                    <div class="navbar-section-name d-lg-none">
                        {% if menuItem == "/" %} Главная {% endif %}
                        {% if menuItem == "nasha-produkciya" %} Наша продукция {% endif %}
                        {% if menuItem == "foto-i-video" %} Фото и видео {% endif %}
                        {% if menuItem == "ptitsevodstvo" %} Птицеводство {% endif %}
                        {% if menuItem == "kak-zakazat" %} Как заказать {% endif %}
                        {% if menuItem == "kontakty" %} Контакты {% endif %}
                    </div>
                    <div id="app-navbar-collapse" class="collapse navbar-toggleable-md">
                        <nav class="nav navbar-nav">
                            <a class="nav-item nav-link {% if menuItem == "/" %} active {% endif %}"
                               href="{{ path('homepage') }}"><span>Главная</span></a>
                            <a class="nav-item nav-link {% if menuItem == "nasha-produkciya" %} active {% endif %}"
                               href="{{ path('product_index') }}"><span>Наша продукция</span></a>
                            <a class="nav-item nav-link {% if menuItem == "foto-i-video" %} active {% endif %}"
                               href="{{ path('media_index') }}"><span>Фото и видео</span></a>
                            <a class="nav-item nav-link {% if menuItem == "ptitsevodstvo" %} active {% endif %}"
                               href="{{ path('book_index') }}"><span>Птицеводство</span></a>
                            <a class="nav-item nav-link {% if menuItem == "kak-zakazat" %} active {% endif %}"
                               href="{{ path('order_index') }}"><span>Как заказать</span></a>
                            <a class="nav-item nav-link {% if menuItem == "kontakty" %} active {% endif %}"
                               href="{{ path('contact_index') }}"><span>Контакты</span></a>
                        </nav>
                    </div>
                </nav>

                <nav class="navbar navbar-expand-lg navbar-dark header-navbar" data-toggle="sticky-onscroll">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-section-name d-lg-none">
                        {% if menuItem == "/" %} Главная {% endif %}
                        {% if menuItem == "nasha-produkciya" %} Наша продукция {% endif %}
                        {% if menuItem == "foto-i-video" %} Фото и видео {% endif %}
                        {% if menuItem == "ptitsevodstvo" %} Птицеводство {% endif %}
                        {% if menuItem == "kak-zakazat" %} Как заказать {% endif %}
                        {% if menuItem == "kontakty" %} Контакты {% endif %}
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {% if menuItem == "/" %} active {% endif %}">
                                <a class="nav-link" href="{{ path('homepage') }}">Главная <span class="sr-only">(текущий)</span></a>
                            </li>
                            <li class="nav-item {% if menuItem == "nasha-produkciya" %} active {% endif %}">
                                <a class="nav-link" href="{{ path('product_index') }}">Наша продукция</a>
                            </li>
                            <li class="nav-item {% if menuItem == "foto-i-video" %} active {% endif %}">
                                <a class="nav-link" href="{{ path('media_index') }}">Фото и видео</a>
                            </li>
                            <li class="nav-item {% if menuItem == "ptitsevodstvo" %} active {% endif %}">
                                <a class="nav-link" href="{{ path('book_index') }}">Птицеводство</a>
                            </li>
                            <li class="nav-item {% if menuItem == "kak-zakazat" %} active {% endif %}">
                                <a class="nav-link" href="{{ path('order_index') }}">Как заказать</a>
                            </li>
                            <li class="nav-item {% if menuItem == "kontakty" %} active {% endif %}">
                                <a class="nav-link" href="{{ path('contact_index') }}">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            {% block content %}{% endblock %}

            <div class="clearfix"></div>
            <footer class="row">
                <div class="col-sm-4">
                    <div class="row contact">
                        <div class="col-md-6 col-xl-4">
                            <p><a href="tel:+79137917783" class="nowrap">8-913-791-77-83</a></p>
                            <p><a href="tel:+79639472148" class="nowrap">8-963-947-21-48</a></p>
                            <p><a href="mailto:info@sibkov.ru">info@sibkov.ru</a></p>
                        </div>
                        <div class="col-md-6 col-xl-4 text-md-left">
                            <p><a href="https://vk.com/sibkov" target="_blank">ВКонтакте</a></p>
                            <p><a href="https://ok.ru/sibkov" target="_blank">Одноклассники</a></p>
                            <p><a href="https://www.youtube.com/channel/UCpcePMy4jqhhcW2hIUFwvGw" target="_blank">Youtube</a></p>
                        </div>
                    </div>
                    <p>с.&nbsp;Локти, Мошковский район Новосибирской области</p>
                </div>
                <div class="col-sm-4">
                    <nav class="row sitemap">
                        <div class="col-md-6 text-md-right">
                            <ul>
                                <li><a href="{{ path('homepage') }}">Главная</a><br></li>
                                <li><a href="{{ path('product_index')}}">Наша продукция</a><br></li>
                                <li><a href="{{ path('media_index') }}">Фото и видео</a><br></li>
                            </ul>
                        </div>
                        <div class="col-md-6 text-md-left">
                            <ul>
                                <li><a href="{{ path('book_index') }}">Птицеводство</a><br></li>
                                <li><a href="{{ path('order_index') }}">Как заказать</a><br></li>
                                <li><a href="{{ path('contact_index') }}">Контакты</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div id="copyright" class="col-sm-4 text-sm-right">
                    <p>&copy; 2013&ndash;{{ "now"|date("Y") }}.</p>
                    <p>Дизайн сайта.</p>
                    <p class="nowrap">Рябков Николай.</p>
                </div>

                {# Yandex.Metrika informer #}
                <a href="http://metrika.yandex.ru/stat/?id=21231592&amp;from=informer" target="_blank" rel="nofollow">
                    <img id="informer" src="//bs.yandex.ru/informer/21231592/3_0_F9D2A2FF_D9B282FF_0_pageviews"
                         style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика"
                         onclick="try{Ya.Metrika.informer({i:this,id:21231592,lang:'ru'});return false}catch(e){}"/>
                </a>
            </footer>
        </div>
    </body>
</html>
