<!DOCTYPE html>
<html lang="ru">
    <head itemscope itemtype="https://schema.org/WebSite">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="{{ metaDesc }}">
        <meta name="keywords" content="{{ metaKey }}">

        <title>{% block title %}{% endblock %} – Ферма «Сибирский ковчег»</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                  crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/fontello/fontello.compressed.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style/style.compressed2.css') }}">
        {% endblock %}

        {# Site icons #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="container">
            {% include '_header.html.twig' %}

            {% block content %}{% endblock %}

            {% include '_footer.html.twig' %}

            {% block javascripts %}
                {# jQuery #}
                {#<script src="//code.jquery.com/jquery-3.3.1.min.js"#}
                        {#integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="#}
                        {#crossorigin="anonymous"></script>#}

                {# Bootstrap #}
                {#<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"#}
                        {#integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"#}
                        {#crossorigin="anonymous"></script>#}

                {# Sticky nav line #}
                <script src="{{ asset('build/sticky.nav.js') }}"></script>

                {# Yandex.Metrika counter #}
                <script async src="{{ asset('js/yandex/yandex.metrika.counter.js') }}"></script>
                <noscript><div><img src="//mc.yandex.ru/watch/21231592" style="position:absolute; left:-9999px;" alt=""></div></noscript>
            {% endblock %}
        </div>
    </body>
</html>
