{% extends "base.html.twig" %}

{% set metaDesc = "Официальный сайты фермы «Сибирский ковчег»" %}
{% set metaKey  = "мясо-яичные породы кур, купить инкубационное яйцо породных кур" %}

{% block title %} Купить инкубационное яйцо в Новосибирске, породные куры {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {# TODO: use automatic minification #}

    <link rel="stylesheet" href="{{ asset('css/nivo.slider/nivo.slider.compressed.css') }}" media="screen">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# TODO: revert back slider nav and freeze on mouse pointer hover #}

    {#<script src="{{ asset('js/nivo.slider/nivo.slider.compressed.js') }}"></script>#}
    <script src="{{ asset('js/nivo.slider/_originals/jquery.nivo.slider.fade.js') }}"></script>
    <script src="{{ asset('js/nivo.slider/_originals/jquery.nivo.slider.init.js') }}"></script>
{% endblock %}

{% block content %}
    <main>
        <aside class="slider-wrapper d-none d-md-block">
            <div id="slider" class="slider-content">
                <img class="img-fluid" src="{{ asset('images/slider-5fr2g8ivxv.jpg') }}" data-src="{{ asset('images/slider-5fr2g8ivxv.jpg') }}" alt="">
                <img src="" data-src="{{ asset('images/slider-erw4dtsqt4.jpg') }}" alt="">
                <img src="" data-src="{{ asset('images/slider-n904ze4vez.jpg') }}" alt="">
                <img src="" data-src="{{ asset('images/slider-wojh6ptgez.jpg') }}" alt="">
                <img src="" data-src="{{ asset('images/slider-c4vznus7gl.jpg') }}" alt="">
                <img src="" data-src="{{ asset('images/slider-nodudqv39a.jpg') }}" alt="">
                <img src="" data-src="{{ asset('images/slider-b2l7pigeq5.jpg') }}" alt="">
            </div>
        </aside>
        <h1 class="text-center">О хозяйстве</h1>
        <p class="no-padding-bottom">Мы находимся в с. Локти Мошковского района Новосибирской области, 25 км от Новосибирска.</p>
        <p class="no-padding-bottom">Работа в хозяйстве ведётся по племенному птицеводству, в основе &ndash; мясо-яичные породы кур. У нас вы можете купить инкубационное яйцо и сделать заказ на суточных цыплят породных кур:</p>
        <div class="breed-list">
            <div class="row">
                <ul class="col-sm-6 col-lg-5 offset-lg-1">
                    <li><strong><a href="{{ path('product_index') }}#zagorskaya-lososevaya">загорская лососёвая</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#avstralorp-chyornyj">австралорп чёрный</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#susseks">суссекс колумбийский</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#pushkinskaya">пушкинская</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#ameraukana">амераукана</a></strong> (пасхальная курица),</li>
                    <li><strong><a href="{{ path('product_index') }}#livenskaya-sittsevaya">ливенская ситцевая</a></strong>,</li>
                </ul>
                <ul class="col-sm-6">
                    <li><strong><a href="{{ path('product_index') }}#barbyozyo">барбёзьё</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#barnevelder">барневельдер золотистый чёрно-окаймлённый</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#viandot">виандот серебристый чёрно-окаймлённый</a></strong> (стандарт),</li>
                    <li><strong><a href="{{ path('product_index') }}#faverol">фавероль белая</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#mekhelenskaya-kukushka">мехеленская кукушка (малин)</a></strong>,</li>
                    <li><strong><a href="{{ path('product_index') }}#maran">маран чёрный серебристогривый</a></strong>.</li>
                </ul>
            </div>
        </div>
        <div class="image-aside">
            <img class="img-fluid" src="{{ asset('images/fedorov-igor-gennadevich.jpg') }}" alt="Федоров Игорь Геннадьевич">
        </div>
        <p>Хозяйство было образовано в 2007 году Федоровым Игорем Геннадьевичем после окончания Новосибирского государственного аграрного университета. Глава хозяйства имеет квалификацию «Зооинженер» по направлению «Генетика и селекция сельскохозяйственных животных» (диплом с отличием).</p>
        <p>Начиная с 2015 года хозяйство имеет официальный статус крестьянского (фермерского) хозяйства &ndash; К(Ф)Х. По результатам конкурсного отбора глава хозяйства получил государственную поддержку в виде гранта на создание и развитие К(Ф)Х в рамках ведомственной целевой программы «Развитие сельского хозяйства и регулирование рынков сельскохозяйственной продукции, сырья и продовольствия в Новосибирской области на 2013&ndash;2020 годы». Благодаря государственной поддержке хозяйство было перенесено на новую площадку под Новосибирском &ndash; в с.&nbsp;Локти Мошковского района Новосибирской области.</p>
        <p>Особое внимание в хозяйстве уделяется профилактическим мероприятиям. Непосредственно перед осенней линькой проводится профилактика колибактериоза, сальмонеллёза, стрептококкоза, микоплазмоза и смешанных инфекций основного стада кур.</p>
        <p><strong>Отправляем инкубационное яйцо в другие регионы России</strong>.</p>
    </main>
{% endblock %}
