{% extends "base.html.twig" %}

{% set metaDesc = "Куры. Описание. Разведение. Уход. Потапова Ю.В." %}
{% set metaKey  = "разведение кур несушек в домашних условиях, птицеводство в домашних условиях куры" %}

{% block title %} Разведение кур в домашних условиях для начинающих, птицеводство читать {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/book.css') }}">
{% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="text-center">Птицеводство</h1>
        </header>
        <div class="row">
            <div class="col-sm-4">
                <img class="book-cover img-fluid"
                     src="{{ asset('build/images/static/ptitsevodstvo_oblozhka.jpg') }}"
                     alt="Потапова Ю.В. Куры. Описание. Разведение. Уход">
                <p class="book-comment">
                    Потапова Ю.В.<br>
                    Куры. Описание. Разведение. Уход.<br>
                    Урожайкины. Школа фермера.<br>
                    Эксмо, 320 стр., 2013 г.<br>
                    ISBN 978-5-699-60458-6
                </p>
            </div>
            <nav class="col-sm-8">
                <ul class="table-of-contents">
                    <li>
                        <span OnClick="location.href='{{ path('book_ptitsevodstvo_porody_kur') }}'">
                            <a href="{{ path('book_ptitsevodstvo_porody_kur') }}">Породы кур</a>
                        </span>
                        <ul>
                            <li><span OnClick="location.href='{{ path('book_ptitsevodstvo_porody_kur') }}#kury-yaichnogo-napravleniya'">
                                    <a href="{{ path('book_ptitsevodstvo_porody_kur') }}#kury-yaichnogo-napravleniya">Куры яичного направления</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_porody_kur') }}#kury-myasnogo-napravleniya'">
                                    <a href="{{ path('book_ptitsevodstvo_porody_kur') }}#kury-myasnogo-napravleniya">Куры мясного направления</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_porody_kur') }}#kury-myasoyaichnogo-napravleniya'">
                                    <a href="{{ path('book_ptitsevodstvo_porody_kur') }}#kury-myasoyaichnogo-napravleniya">Куры мясояичного направления</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_porody_kur') }}#dekorativnye-kury'">
                                    <a href="{{ path('book_ptitsevodstvo_porody_kur') }}#dekorativnye-kury">Декоративные куры</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_porody_kur') }}#bojtsovye-porody-kur'">
                                    <a href="{{ path('book_ptitsevodstvo_porody_kur') }}#bojtsovye-porody-kur">Бойцовые породы кур</a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li><span OnClick="location.href='{{ path('book_ptitsevodstvo_soderzhanie_kur') }}'">
                            <a href="{{ path('book_ptitsevodstvo_soderzhanie_kur') }}">Содержание кур</a>
                        </span>
                        <ul>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_soderzhanie_kur') }}#sistemy-soderzhaniya'">
                                    <a href="{{ path('book_ptitsevodstvo_soderzhanie_kur') }}#sistemy-soderzhaniya">Системы содержания</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_soderzhanie_kur') }}#obustrojstvo-ptichnika'">
                                    <a href="{{ path('book_ptitsevodstvo_soderzhanie_kur') }}#obustrojstvo-ptichnika">Обустройство птичника</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_soderzhanie_kur') }}#dop-oborudovanie'">
                                    <a href="{{ path('book_ptitsevodstvo_soderzhanie_kur') }}#dop-oborudovanie">Дополнительное оборудование</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_soderzhanie_kur') }}#mikroklimat'">
                                    <a href="{{ path('book_ptitsevodstvo_soderzhanie_kur') }}#mikroklimat">Микроклимат в птичнике</a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span OnClick="location.href='{{ path('book_ptitsevodstvo_kormlenie_kur') }}'">
                            <a href="{{ path('book_ptitsevodstvo_kormlenie_kur') }}">Кормление кур</a>
                        </span>
                        <ul>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_kormlenie_kur') }}#korma'">
                                    <a href="{{ path('book_ptitsevodstvo_kormlenie_kur') }}#korma">Виды и типы кормов</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_kormlenie_kur') }}#zagotovka-kormov'">
                                    <a href="{{ path('book_ptitsevodstvo_kormlenie_kur') }}#zagotovka-kormov">Заготовка кормов</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_kormlenie_kur') }}#ratsion'">
                                    <a href="{{ path('book_ptitsevodstvo_kormlenie_kur') }}#ratsion">Рацион кур</a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span OnClick="location.href='{{ path('book_ptitsevodstvo_razvedenie_kur') }}'">
                            <a href="{{ path('book_ptitsevodstvo_razvedenie_kur') }}">Разведение кур</a>
                        </span>
                        <ul>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_razvedenie_kur') }}#razmnozhenie'">
                                    <a href="{{ path('book_ptitsevodstvo_razvedenie_kur') }}#razmnozhenie">Особенности размножения кур</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_razvedenie_kur') }}#oplodotvorenie-i-noska-yaits'">
                                    <a href="{{ path('book_ptitsevodstvo_razvedenie_kur') }}#oplodotvorenie-i-noska-yaits">Оплодотворение и носка яиц</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_razvedenie_kur') }}#naklev-tsyplyat'">
                                    <a href="{{ path('book_ptitsevodstvo_razvedenie_kur') }}#naklev-tsyplyat">Наклев цыплят</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_razvedenie_kur') }}#otbor-yaits'">
                                    <a href="{{ path('book_ptitsevodstvo_razvedenie_kur') }}#otbor-yaits">Отбор яиц для инкубации</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_razvedenie_kur') }}#nasizhivanie-yaits'">
                                    <a href="{{ path('book_ptitsevodstvo_razvedenie_kur') }}#nasizhivanie-yaits">Насиживание яиц</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_razvedenie_kur') }}#iskusstvennaya-inkubatsiya'">
                                    <a href="{{ path('book_ptitsevodstvo_razvedenie_kur') }}#iskusstvennaya-inkubatsiya">Искусственная инкубация</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_razvedenie_kur') }}#vyrashhivanie-molodnyaka-kur'">
                                    <a href="{{ path('book_ptitsevodstvo_razvedenie_kur') }}#vyrashhivanie-molodnyaka">Выращивание молодняка</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_razvedenie_kur') }}#transportirovka-ptitsy'">
                                    <a href="{{ path('book_ptitsevodstvo_razvedenie_kur') }}#transportirovka-ptitsy">Транспортировка птицы</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_razvedenie_kur') }}#metody-selektsii'">
                                    <a href="{{ path('book_ptitsevodstvo_razvedenie_kur') }}#metody-selektsii">Методы селекции в домашнем птицеводстве</a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span OnClick="location.href='{{ path('book_ptitsevodstvo_profilaktika_i_lechenie') }}'">
                            <a href="{{ path('book_ptitsevodstvo_profilaktika_i_lechenie') }}">Профилактика и лечение заболеваний кур</a>
                        </span>
                        <ul>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_profilaktika_i_lechenie') }}#profilakticheskie-meropriyatiya'">
                                    <a href="{{ path('book_ptitsevodstvo_profilaktika_i_lechenie') }}#profilakticheskie-meropriyatiya">Профилактические мероприятия</a>
                                </span></li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_profilaktika_i_lechenie') }}#osmotr-ptitsy'">
                                    <a href="{{ path('book_ptitsevodstvo_profilaktika_i_lechenie') }}#osmotr-ptitsy">Осмотр птицы на предмет заболеваний</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_profilaktika_i_lechenie') }}#nezaraznye-bolezni'">
                                    <a href="{{ path('book_ptitsevodstvo_profilaktika_i_lechenie') }}#nezaraznye-bolezni">Незаразные болезни кур</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_profilaktika_i_lechenie') }}#zaraznye-bolezni'">
                                    <a href="{{ path('book_ptitsevodstvo_profilaktika_i_lechenie') }}#zaraznye-bolezni">Заразные болезни кур</a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span OnClick="location.href='{{ path('book_ptitsevodstvo_pererabotka_produktov') }}'">
                            <a href="{{ path('book_ptitsevodstvo_pererabotka_produktov') }}">Переработка продуктов куроводства</a>
                        </span>
                        <ul>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_pererabotka_produktov') }}#zaboj-ptitsy-i-pererabotka-myasa'">
                                    <a href="{{ path('book_ptitsevodstvo_pererabotka_produktov') }}#zaboj-ptitsy-i-pererabotka-myasa">Забой птицы и переработка мяса</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_pererabotka_produktov') }}#poluchenie-pera-i-pukha'">
                                    <a href="{{ path('book_ptitsevodstvo_pererabotka_produktov') }}#poluchenie-pera-i-pukha">Получение пера и пуха</a>
                                </span>
                            </li>
                            <li>
                                <span OnClick="location.href='{{ path('book_ptitsevodstvo_pererabotka_produktov') }}#ptichij-navoz-kak-udobrenie'">
                                    <a href="{{ path('book_ptitsevodstvo_pererabotka_produktov') }}#ptichij-navoz-kak-udobrenie">Птичий навоз как удобрение</a>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </main>
{% endblock %}
