{% extends "base.html.twig" %}

{% set metaDesc = "Продукция фермы «Сибирский ковчег»" %}
{% set metaKey  = "козье молоко, сыры по зарубежным рецептурам, крафтовый сыр, козий сыр, домашний йогурт и творог" %}

{% block title %} Купить домашние сыры, йогурт, творог, козье молоко {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('product') }}
{% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="d-none">Наша продукция</h1>
        </header>
        <article>
            <section>
                <header id="moloko" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Цельное козье молоко</h2>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <div class="product-image-container">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-moloko_thumb.png') }}"
                                 alt="Цельное козье молоко">
                        </div>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>150 руб./л</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Козье молоко &ndash; это легко усваиваемый гипоаллергенный продукт. По составу белков, жиров, лактозы, минералов и витаминов оно наиболее приближено к материнскому молоку.</p>
                        <p>Наше козье молоко богато витаминами групп PP, B, A и D, микроэлементами, альбумином, бета-казеином и полезными полиненасыщенными жирами.</p>
                        <p>В отличие от коровьего молока, в нашем козьем молоке практически отсутствует альфа-S1-казеин, который является основной причиной аллергической реакции на молоко у людей.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="kroliki-reks" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Кролики рекс</h2>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <div class="product-image-container">
                            <a href="{{ path('media_album_kroliki') }}" title="Посмотреть фотографии породы">
                                <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-kroliki-reks_thumb.png') }}"
                                     alt="Кролики рекс">
                            </a>
                        </div>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>от 1500 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Предлагаем племенной молодняк кроликов породы рекс.</p>
                        <p>Возраст 2 месяца &ndash; 1500 руб., 3 месяца &ndash; 2000 руб., 4 месяца &ndash; 2500 руб., 5 месяцев и старше &ndash; 3000 руб.</p>
                        <p>Все кролики привиты от ВГБК и миксоматоза, пропоены от кокцидиоза и гельминтозов. Подробная информация о датах профилактических мероприятий указывается в сопроводительной спецификации.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="indejka-bronzovaya-i-belaya-shirokogrudaya" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Индейка бронзовая и белая широкогрудая</h2>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <div class="product-image-container">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-indejka-bronzovaya-i-belaya-shirokogrudaya_thumb.png') }}"
                                 alt="Индейка бронзовая и белая широкогрудая">
                        </div>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div><img src="{{ asset('build/images/static/icon-egg.png') }}" title="Инкубационное яйцо" alt=""></div>
                                <div>120 руб.</div>
                            </div>
                            <div class="product-price">
                                <div><img src="{{ asset('build/images/static/icon-chick.png') }}" title="Суточный индюшонок" alt=""></div>
                                <div>250 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Бронзовую широкогрудую породу индеек ещё называют в народе американской индейкой, поскольку эта порода была выведена именно в Америке для промышленного выращивания. Средняя масса индеек составляет 9-11 кг, а индюков &ndash; 15-18 кг. Индейки отличаются прекрасной яйценоскостью &ndash; до 120 яиц в год, из которых можно получить до 80% оплодотворённых яиц. Выход же индюшат составляет 70-75%. У индеек этой породы превосходные материнские качества, &ndash; они прекрасно высиживают не только свои яйца, но и куриные, утиные и гусиные.</p>
                        <p>Белые широкогрудые индейки &ndash; очень распространённая порода. Они были выведены в США. Данные индейки имеют прекрасные продуктивные качества &ndash; отличаются высокой скороспелостью, высокой яйценоскостью и хорошей плодовитостью.
                            Средняя живая масса взрослых индюков составляет 15-22 кг, а индеек &ndash; 9-12 кг. Яйценоскость достаточно высокая &ndash; 90-120 яиц в год. Средняя масса яйца составляет 80 г. Содержать эту породу для получения мяса весьма выгодно.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="zagorskaya-lososevaya" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Загорская лососёвая</h2>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <div class="product-image-container">
                            <a href="{{ path('media_album_kury') }}#zagorskaya-lososevaya" title="Посмотреть фотографии породы">
                                <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-zagorskaya-lososevaya_thumb.png') }}"
                                     alt="Загорская лососёвая">
                            </a>
                        </div>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div><img src="{{ asset('build/images/static/icon-egg.png') }}" title="Инкубационное яйцо" alt=""></div>
                                <div>50 руб.</div>
                            </div>
                            <div class="product-price">
                                <div><img src="{{ asset('build/images/static/icon-chick.png') }}" title="Суточный цыплёнок" alt=""></div>
                                <div>100 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Мясо-яичного направления. Порода была получена во ВНИТИП Сергиева Посада (в то время он назывался Загорском, откуда и произошла первая часть их названия) в 1950-х годах.</p>
                        <p>Живой вес петухов 3-3,7 кг, куры 2,5-2,7 кг. Яйценоскость 220-260 яиц в год. Яйца светло-коричневого цвета, весят около 60-65 г (это значение достигается постепенно со временем, а сначала масса яиц составляет примерно 45 г). Начинают нестись куры примерно через 5-5,5 месяцев.</p>
                        <p>Цыплята стремительно набирают вес: в трёхмесячном возрасте петухи весят примерно 2 кг.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="amroks" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Амрокс</h2>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <div class="product-image-container">
                            <a href="{{ path('media_album_kury') }}#amroks" title="Посмотреть фотографии породы">
                                <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-amroks_thumb.png') }}"
                                     alt="Амрокс">
                            </a>
                        </div>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div><img src="{{ asset('build/images/static/icon-egg.png') }}" title="Инкубационное яйцо" alt=""></div>
                                <div>50 руб.</div>
                            </div>
                            <div class="product-price">
                                <div><img src="{{ asset('build/images/static/icon-chick.png') }}" title="Суточный цыплёнок" alt=""></div>
                                <div>100 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Мясо-яичного направления. Порода была выведена в Америке отбором полосатых плимутроков по продуктивности и жизнеспособности.<p>
                        <p>У амроксов листовидный гребень, полосатое оперение, «курочка ряба» &ndash; вдоль пера чередуются поперечные чёрные и белые полосы.</p>
                        <p>Живой вес петухов 3,0-4,0 кг, кур &ndash; 2,6-3,5 кг. Яйценоскость 180-200 яиц в год. Масса яйца 58-60&nbsp;г.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="pushkinskaya" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Пушкинская</h2>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <div class="product-image-container">
                            <a href="{{ path('media_album_kury') }}#pushkinskaya" title="Посмотреть фотографии породы">
                                <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-pushkinskaya_thumb.png') }}"
                                     alt="Пушкинская">
                            </a>
                        </div>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div><img src="{{ asset('build/images/static/icon-egg.png') }}" title="Инкубационное яйцо" alt=""></div>
                                <div>70 руб.</div>
                            </div>
                            <div class="product-price">
                                <div><img src="{{ asset('build/images/static/icon-chick.png') }}" title="Суточный цыплёнок" alt=""></div>
                                <div>140 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Мясо-яичного направления. Порода создана в городе Пушкин Ленинградской области в НИИ генетики и разведения сельскохозяйственных животных. Возникла она ориентировочно в 1995 году, хотя официально принята лишь в 2007 году.</p>
                        <p>Живой вес петухов до 5 кг, куры 3-3,5 кг. Яйценоскость 200-220 яиц в год. Начинают нестись куры примерно через 5-5,5 месяцев. Цвет яиц белый, иногда светло-бежевый (слоновой кости), масса 65-75&nbsp;г.</p>
                        <p>Выживаемость молодняка до 94 %, взрослой птицы около 88 %. Благодаря прилитию крови Московского бройлера мясо имеет приятный нежный вкус.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="tsarskoselskaya" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Царскосельская</h2>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <div class="product-image-container">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-tsarskoselskaya_thumb.png') }}"
                                 alt="Царскосельская">
                        </div>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div><img src="{{ asset('build/images/static/icon-egg.png') }}" title="Инкубационное яйцо" alt=""></div>
                                <div>70 руб.</div>
                            </div>
                            <div class="product-price">
                                <div><img src="{{ asset('build/images/static/icon-chick.png') }}" title="Суточный цыплёнок" alt=""></div>
                                <div>140 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Мясо-яичного направления, декоративная группа кур. Выведена в экспериментальном хозяйстве ВНИИГРЖ. Царскосельские куры имеют редко встречающееся рыже-полосатое оперение. Гребешки у представителей данной породы могут быть розовидной или листовидной формы. Царскосельская порода кур выведена на основе скрещивания рыже-полосатых бройлеров кросса Бройлер-6 племзавода Большевик с Ньюгемпширами и Полтавскими глинистыми.<p>
                        <p>Живой вес петухов 2,8-3,5 кг, кур &ndash; 2,2-2,5 кг. Яйценоскость до 180 яиц в год. Яйца светло-коричневого цвета, весят 58-59&nbsp;г.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="myaso-krolika" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Мясо кролика</h2>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <div class="product-image-container">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-myaso-krolika_thumb.png') }}"
                                 alt="Мясо кролика">
                        </div>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>420 руб./кг</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Предлагаем мясо кролика парное и охлаждённое. Возраст забоя &ndash; 3-4 месяца, средний вес тушки &ndash; 1,5&nbsp;кг.<br>Осуществляем доставку мяса кролика в Новосибирск.</p>
                    </div>
                </div>
        </article>
    </main>
{% endblock %}
