{% extends "base.html.twig" %}

{% set metaDesc = "Продукция фермы «Сибирский ковчег»" %}
{% set metaKey  = "козье молоко, сыры по зарубежным рецептурам, крафтовый сыр, козий сыр, домашний йогурт и творог" %}

{% block title %} Купить домашние сыры, йогурт, творог, козье молоко {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('product') }}
{% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1>Молочная продукция от наших козочек</h1>
        </header>
        <article>
            <p>Молоко коз породы Ламанча не имеет запаха, характерного для обычного козьего молока, и обладает слегка сладковатым пломбирно-сливочным привкусом. Жирность молока этих козочек не менее 4%, идеально подходит для приготовления высококачественных сыров.</p>
            <p>Сыры мы изготавливаем по зарубежным рецептурам с применением импортных заквасок из Франции!</p>
            <section>
                <header id="moloko" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Цельное козье молоко</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-moloko-8zn4ytyshn_thumb.png') }}"
                                 alt="Цельное козье молоко">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>150 руб./л</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Козье молоко &ndash; это легко усваиваемый гипоаллергенный продукт. По составу белков, жиров, лактозы, минералов и витаминов оно наиболее приближено к материнскому молоку.</p>
                        <p>Наше козье молоко богато витаминами групп PP, B, A и D, микроэлементами, альбумином, бета-казеином и полезными полиненасыщенными жирами.</p>
                        <p>В отличие от коровьего молока, в нашем козьем молоке практически отсутствует альфа-S1-казеин, который является основной причиной аллергической реакции на молоко у людей.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="jogurt-naturalnyj" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Натуральный йогурт</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-jogurt-naturalnyj-r95rm9oy1t_thumb.png') }}"
                                 alt="Натуральный йогурт">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>270 руб./л</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Йогурт считается намного более ценным для человеческого организма продуктом, нежели цельное молоко. Ферментированный под воздействием полезных бактерий он не только с легкостью усваивается, но и насыщает кишечник незаменимой микрофлорой.</p>
                        <p>В нашем натуральном йогурте содержится ряд витаминов (А, группы В, С), минеральных солей (кальций, фосфор, калий, натрий), высокоусвояемые белковые соединения, ферменты, полезные бактерии.</p>
                        <p>Для приготовления йогурта мы используем импортную закваску из Дании. Благодаря болгарской палочке, наш натуральный йогурт обладает уникальной способностью освобождать пищеварительную систему от патогенной микрофлоры, гнилостных бактерий, болезнетворных микроорганизмов. Мы не добавляем в наш йогурт консерванты, загустители, ароматизаторы, красители и прочую химию.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="jogurt-s-yagodami" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Йогурт с добавлением ягод (виктория)</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-jogurt-s-yagodami-i7pi0v0dg8_thumb.png') }}"
                                 alt="Йогурт с добавлением ягод (виктория)">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>300 руб./л</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Этот кисломолочный продукт сочетает в себе лучшие качества натурального йогурта и ягодного десерта.</p>
                        <p>Для его приготовления мы используем ягоды виктории, выращенные на нашей ферме.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="tvorog" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Творог из цельного молока (жирность не менее 24%)</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-tvorog-5hspf4gvo2_thumb.png') }}"
                                 alt="Творог из цельного молока (жирность не менее 24%)">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>700 руб./кг</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Козий творог &ndash; это ценнейший диетический продукт, обладающий уникальным составом. Он содержит до 20% легко усваиваемого животного белка, в нём в достаточном количестве присутствуют фосфор и кальций, оказывающие благотворное влияние на работу сердца.</p>
                        <p>Наш творог из цельного козьего молока богат довольно редкими витаминными группами В2 и В12, аминокислотами, способствующими улучшению работы почек и печени, а также снижению уровня «вредного» холестерина.</p>
                        <p>Козий творог считается превосходным источником калиция, незаменимого для опорно-двигательной и костной системы человека. Также в нём содержатся не менее ценные минеральные соединения &ndash; медь и магний. Включение творога из козьего молока в ежедневный рацион способствует укреплению организма в целом.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="syr-kachotta" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Сыр Качотта классический</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-syr-kachotta-jb2w47nbdz_thumb.png') }}"
                                 alt="Сыр Качотта классический">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>1500 руб./кг</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Качотта &ndash; это итальянский столовый сыр жёлтого цвета с белым краем, имеющий мягкую текстуру и умеренный аромат. Вкус его зависит от времени выдержки. Молодой качотта &ndash; сыр с нежным сладковатым привкусом и лёгким ореховым ароматом. Оставляет приятное послевкусие. Чем больше срок выдержки, тем более пикантным становится вкус сыра и насыщеннее цвет.</p>
                        <p>Мы рекомендуем употреблять наш сыр качотта свежим с помидорами или оливками, чтобы по достоинству оценить его чуть сладковатый нежный молочный вкус. Кроме того, качотта отлично плавится и поэтому хорошо подходит для приготовления горячих бутербродов и самых различных блюд традиционной итальянской кухни &ndash; пиццы, пасты, ризотто, а можно нарезать его на тонкие полоски и добавить в салаты.</p>
                        <p>Подходящие сорта вин &ndash; белые итальянские вина с выраженным фруктовым вкусом: Вердиччио, Фраскати.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="syr-maasdam" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Сыр Маасдам</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-syr-maasdam-yhdrrjsr20_thumb.png') }}"
                                 alt="Сыр Маасдам">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>2000 руб./кг</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Маасдам &ndash; это голландский твёрдый сыр с большими глазками и запоминающимся сладковато-ореховым вкусом. Изготавливаемый нами сыр маасдам имеет очень пластичную структуру, превосходен в нарезке, отлично плавится и может применяться во многих кулинарных блюдах.</p>
                        <p>Он прекрасен как самостоятельная закуска, отличный ингредиент в рецептах различных блюд, хорошо сочетается с фруктами, овощами и орехами. Его добавляют в различные запеканки, картошку фри, вкусную пиццу, салаты и другие блюда. Также можно его положить в горячие бутерброды и чизбургеры. Маасдам используется в рецептах соусов, которые сочетаются с мясом и рыбой. На основе маасдама готовится знаменитое сырное фондю.</p>
                        <p>Подходящие сорта вин &ndash; Zinfandel, Gewurztraminer, Chardonnay, Merlot, Sauvignon Blanc, Chianti.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="syr-gauda" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Сыр Гауда</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-syr-gauda-iirw52zzuo_thumb.png') }}"
                                 alt="Сыр Гауда">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>2000 руб./кг</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Гауда &ndash; голландский твёрдый сыр, один из самых популярных сыров в мире. Наш сыр гауда можно употреблять в различных горячих блюдах, салатах, супах, соусах, выпечке и сэндвичах. Он отлично поддается плавлению.</p>
                        <p>Зрелый Гауда займёт почётное место в составе сырной тарелки и будет прекрасно сочетаться с благородными винами. Также зрелый сыр подают с топпингом из яблочного сиропа, а экстра-зрелый предпочитают употреблять в компании с крепким светлым нефильтрованным пивом, элем или даже портвейном.</p>
                        <p>Подходящие сорта вин &ndash; Riesling, Chenin Blanc с молодым сыром, Merlot, Shiraz с выдержанным Гаудой.</p>
                    </div>
                </div>
            </section>
        </article>
        <header class="d-none">
            <h1>Племенной молодняк</h1>
            <p class="text-muted" style="padding-bottom: 2rem">В данный момент нет в наличии.</p>
        </header>
    </main>
{% endblock %}
