{% extends "base.html.twig" %}

{% set metaDesc = "Продукция фермы «Сибирский ковчег»" %}
{% set metaKey  = "козье молоко, сыры по зарубежным рецептурам, крафтовый сыр, козий сыр, домашний йогурт и творог" %}

{% block title %} Купить домашние сыры, йогурт, творог, козье молоко {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('product') }}
{% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1>Молочная продукция от наших козочек</h1>
        </header>
        <article>
            <p>Молоко коз породы Ламанча не имеет запаха, характерного для обычного козьего молока, и обладает слегка сладковатым пломбирно-сливочным привкусом. Жирность молока этих козочек не менее 4%, идеально подходит для приготовления высококачественных сыров.</p>
            <p>Сыры мы изготавливаем по зарубежным рецептурам!</p>
            <section>
                <header id="moloko" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Цельное козье молоко</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-moloko-8zn4ytyshn_thumb.png') }}"
                                 alt="Цельное козье молоко">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>150 руб./л</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Описание 1.</p>
                        <p>Описание 2.</p>
                        <p>Описание 3.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="jogurt-naturalnyj" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Натуральный йогурт</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-jogurt-naturalnyj-r95rm9oy1t_thumb.png') }}"
                                 alt="Натуральный йогурт">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>270 руб./л</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Описание 1.</p>
                        <p>Описание 2.</p>
                        <p>Описание 3.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="jogurt-s-yagodami" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Йогурт с добавлением ягод (виктория)</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-jogurt-s-yagodami-i7pi0v0dg8_thumb.png') }}"
                                 alt="Йогурт с добавлением ягод (виктория)">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>300 руб./л</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Описание 1.</p>
                        <p>Описание 2.</p>
                        <p>Описание 3.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="tvorog" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Творог из цельного молока (жирность не менее 24%)</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-tvorog-5hspf4gvo2_thumb.png') }}"
                                 alt="Творог из цельного молока (жирность не менее 24%)">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>700 руб./кг</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Описание 1.</p>
                        <p>Описание 2.</p>
                        <p>Описание 3.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="syr-kachotta" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Сыр Качотта классический</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-syr-kachotta-jb2w47nbdz_thumb.png') }}"
                                 alt="Сыр Качотта классический">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>1500 руб./кг</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Описание 1.</p>
                        <p>Описание 2.</p>
                        <p>Описание 3.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="syr-maasdam" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Сыр Маасдам</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-syr-maasdam-yhdrrjsr20_thumb.png') }}"
                                 alt="Сыр Маасдам">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>2000 руб./кг</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Описание 1.</p>
                        <p>Описание 2.</p>
                        <p>Описание 3.</p>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <header id="syr-gauda" class="anchor">
                    <h3 class="section-name text-center text-sm-left">Сыр Гауда</h3>
                </header>
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-3 product-image">
                        <a href="#">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/nasha-produkciya-syr-gauda-iirw52zzuo_thumb.png') }}"
                                 alt="Сыр Гауда">
                        </a>
                        <div class="text-center" style="text-align: center">
                            <div class="product-price">
                                <div>2000 руб./кг</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-8 col-lg-9 product-description">
                        <p>Описание 1.</p>
                        <p>Описание 2.</p>
                        <p>Описание 3.</p>
                    </div>
                </div>
            </section>
        </article>
        <header>
            <h1>Племенной молодняк</h1>
            <p class="text-muted">В данный момент нет в наличии.</p>
        </header>
    </main>
{% endblock %}
