{% extends "media/album.html.twig" %}

{% set metaDesc = "Фотографии участия в выставках фермы «Сибирский ковчег»" %}
{% set metaKey  = "" %}

{% block title %} Выставки кроликов {% endblock %}

{% block content %}
    <main>
        <header>
            <h1 class="text-center">Участие в выставках</h1>
        </header>
        <article class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
            <section>
                <header>
                    <h2 class="album-section-name text-center text-sm-left">Сибирская агропромышленная неделя 2014 (Омск, 22.11.2014)</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-1.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-1_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-2.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-2_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-3.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-3_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-4.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-4_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-5.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-5_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-6.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-6_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-7.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-7_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-8.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-8_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-9.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-9_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-10.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-10_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-11.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-11_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-12.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-12_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-13.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-13_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-14.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-14_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-15.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-15_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-16.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-16_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-17.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-17_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-18.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-18_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-19.jpg') }}" class="album-item" itemprop="contentUrl" data-size="530x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-19_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-20.jpg') }}" class="album-item" itemprop="contentUrl" data-size="530x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-20_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-21.jpg') }}" class="album-item" itemprop="contentUrl" data-size="530x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-21_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-22.jpg') }}" class="album-item" itemprop="contentUrl" data-size="530x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-22_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-23.jpg') }}" class="album-item" itemprop="contentUrl" data-size="530x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-23_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_agroprom2014-z9mkgchq7.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_agroprom2014-z9mkgchq7_thumb.png') }}" itemprop="thumbnail" alt="Сибирская агропромышленная неделя 2014">
                            <figcaption>Сибирская агропромышленная неделя 2014</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section>
                <header>
                    <h2 class="album-section-name text-center text-sm-left">ЗооМагия 2014 (Омск, 30.05.2014)</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-1.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-1_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-2.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-2_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-3.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-3_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-4.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-4_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-5.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-5_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-6.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-6_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-7.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-7_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-8.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-8_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-9.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-9_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-10.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-10_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-11.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-11_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-12.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-12_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-13.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-13_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-14.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-14_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-15.jpg') }}" class="album-item" itemprop="contentUrl" data-size="530x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-15_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-16.jpg') }}" class="album-item" itemprop="contentUrl" data-size="530x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-16_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/vystavki_zoomagiya2014-17.jpg') }}" class="album-item" itemprop="contentUrl" data-size="530x750">
                            <img class="img-thumbnail" src="{{ asset('images/vystavki_zoomagiya2014-17_thumb.png') }}" itemprop="thumbnail" alt="ЗооМагия 2014">
                            <figcaption>ЗооМагия 2014</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
        </article>
    </main>

    {{ parent() }}
{% endblock %}
