{% extends "media/album.html.twig" %}

{% set metaDesc = "Фотографии фермы «Сибирский ковчег»" %}
{% set metaKey  = "ферма, сельское хозяйство фото" %}

{% block title %} гуси, утки, индейки фото {% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="text-center">Ферма</h1>
        </header>
        <article>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-ut42oz5l1k.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-ut42oz5l1k_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-10nq6qukmp.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-10nq6qukmp_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-i7k61qi4ns.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-i7k61qi4ns_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-793a7qkj4x.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-793a7qkj4x_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-bbuz10pznc.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-bbuz10pznc_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-2x2oja0ahl.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-2x2oja0ahl_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-810anz40np.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-810anz40np_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-wgth97j2y2.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-wgth97j2y2_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-knh1lkvqcc.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-knh1lkvqcc_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-bd2h0bto8h.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-bd2h0bto8h_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-xhwxibckeq.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-xhwxibckeq_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-wcognxm3ku.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-wcognxm3ku_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-b12704i5sf.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-b12704i5sf_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-ucix7bz80f.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-ucix7bz80f_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-ajxuygp0qo.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-ajxuygp0qo_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-2i496g9bx2.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-2i496g9bx2_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-wh1lt0nq50.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-wh1lt0nq50_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-tj93945r19.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-tj93945r19_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-htkmcwo0l0.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-htkmcwo0l0_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-pxudgl5xys.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-pxudgl5xys_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-on42yxq8yf.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-on42yxq8yf_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-3ocevaewx3.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-3ocevaewx3_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-nm54d2krzj.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-nm54d2krzj_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-9nyvklvxr7.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-9nyvklvxr7_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-9bv7wbydrp.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-9bv7wbydrp_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-qv1hedc3wo.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-qv1hedc3wo_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-33b7e4tdww.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-33b7e4tdww_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>

























                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-0kurss5rqy.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-0kurss5rqy_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>

                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-5njt287vbg.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-5njt287vbg_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>

                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ferma-ynb8wy4u6j.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ferma-ynb8wy4u6j_thumb.png') }}" itemprop="thumbnail" alt="Ферма «Сибирский ковчег»">
                            <figcaption>Ферма «Сибирский ковчег»</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
        </article>
    </main>

    {{ parent() }}
{% endblock %}
