{% extends "media/album.html.twig" %}

{% set metaDesc = "Фотографии шкурок кролика фермы «Сибирский ковчег»" %}
{% set metaKey  = "шкурки кролика фото" %}

{% block title %} Шкурки кролика фото {% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="text-center">Шкурки</h1>
        </header>
        <article class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
            <div class="row">
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_reks-chyornyj-iv9f0f1ux8.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_reks-chyornyj-iv9f0f1ux8_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_aguti.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_aguti_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_babochka-aguti.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_babochka-aguti_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_babochka-shinshillovyj.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_babochka-shinshillovyj_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_belyj.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_belyj_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_raznye.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_raznye_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_reks.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_reks_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_reks-belyj-ee2d7f9wpc.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_reks-belyj-ee2d7f9wpc_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_reks-belyj-s-bezhevym-vlwpdoiiw0.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_reks-belyj-s-bezhevym-vlwpdoiiw0_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_reks-belyj-s-pyatnyshkami-jsvif5ca1a.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_reks-belyj-s-pyatnyshkami-jsvif5ca1a_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_reks-gepardovyj-uqzdjykd7w.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_reks-gepardovyj-uqzdjykd7w_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_reks-gold-f5wuejr2wb.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_reks-gold-f5wuejr2wb_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_reks-goluboj-otter-5p2haty1ts.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_reks-goluboj-otter-5p2haty1ts_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_reks-kastor-w6ho2060fv.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_reks-kastor-w6ho2060fv_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_reks-shinshillovyj-pfnfznbgmq.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_reks-shinshillovyj-pfnfznbgmq_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_serebro.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_serebro_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_aguti.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_aguti_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_serebro-svetloe.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_serebro-svetloe_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_serebro-tyomnoe.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_serebro-tyomnoe_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_shinshillovyj.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_shinshillovyj_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/shkurki_venskij-goluboj.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_venskij-goluboj_thumb.png') }}" itemprop="thumbnail" alt="Шкурки">
                    </a>
                </figure>
            </div>
        </article>
    </main>

    {{ parent() }}
{% endblock %}
