{% extends "media/album.html.twig" %}

{% set metaDesc = "Фотографии кур фермы «Сибирский ковчег»" %}
{% set metaKey  = "породы кур мясо яичного направления с фото, порода кур амераукана фото" %}

{% block title %} Породы куриц с фотографиями и названиями, амрокс порода кур фото, куры пушкинские фото {% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="text-center">Куры</h1>
        </header>
        <article>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="kuchinskaya_yubilejnaya" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Кучинская юбилейная</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-vapdlnd00f.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-vapdlnd00f_thumb.png') }}" itemprop="thumbnail" alt="Кучинская юбилейная">
                            <figcaption>Кучинская юбилейная</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-jn84m4t1ob.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-jn84m4t1ob_thumb.png') }}" itemprop="thumbnail" alt="Кучинская юбилейная">
                            <figcaption>Кучинская юбилейная</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-fhuoijafhj.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-fhuoijafhj_thumb.png') }}" itemprop="thumbnail" alt="Кучинская юбилейная">
                            <figcaption>Кучинская юбилейная</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-ka210aj9f8.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-ka210aj9f8_thumb.png') }}" itemprop="thumbnail" alt="Кучинская юбилейная">
                            <figcaption>Кучинская юбилейная</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-tb8r87ij31.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-tb8r87ij31_thumb.png') }}" itemprop="thumbnail" alt="Кучинская юбилейная">
                            <figcaption>Кучинская юбилейная</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-j5g26ano35.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-j5g26ano35_thumb.png') }}" itemprop="thumbnail" alt="Кучинская юбилейная">
                            <figcaption>Кучинская юбилейная</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-yajtso-j5t6ec2gh0.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-yajtso-j5t6ec2gh0_thumb.png') }}" itemprop="thumbnail" alt="Кучинская юбилейная - яйцо">
                            <figcaption>Кучинская юбилейная</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-d1n2w2rjen.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-kuchinskaya-yubilejnaya-d1n2w2rjen_thumb.png') }}" itemprop="thumbnail" alt="Кучинская юбилейная">
                            <figcaption>Кучинская юбилейная</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="zagorskaya-lososevaya" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Загорская лососёвая</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-zagorskaya-lososevaya-hgbjntlniz.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-zagorskaya-lososevaya-hgbjntlniz_thumb.png') }}" itemprop="thumbnail" alt="Загорская лососёвая">
                            <figcaption>Загорская лососёвая</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-zagorskaya-lososevaya-gubtrkm3c0.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-zagorskaya-lososevaya-gubtrkm3c0_thumb.png') }}" itemprop="thumbnail" alt="Загорская лососёвая">
                            <figcaption>Загорская лососёвая</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-zagorskaya-lososevaya-8fsjh1wjpl.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-zagorskaya-lososevaya-8fsjh1wjpl_thumb.png') }}" itemprop="thumbnail" alt="Загорская лососёвая">
                            <figcaption>Загорская лососёвая</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-zagorskaya-lososevaya-zksyxtw9y7.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-zagorskaya-lososevaya-zksyxtw9y7_thumb.png') }}" itemprop="thumbnail" alt="Загорская лососёвая">
                            <figcaption>Загорская лососёвая</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-zagorskaya-lososevaya-zfo5x4t74b.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-zagorskaya-lososevaya-zfo5x4t74b_thumb.png') }}" itemprop="thumbnail" alt="Загорская лососёвая">
                            <figcaption>Загорская лососёвая</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="avstralorp-chyornyj" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Австралорп чёрный</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-avstralorp-chyornyj-bvg0ceinns.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-avstralorp-chyornyj-bvg0ceinns_thumb.png') }}" itemprop="thumbnail" alt="Австралорп чёрный">
                            <figcaption>Австралорп чёрный</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-avstralorp-chyornyj-lzz97yq6cy.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-avstralorp-chyornyj-lzz97yq6cy_thumb.png') }}" itemprop="thumbnail" alt="Австралорп чёрный">
                            <figcaption>Австралорп чёрный</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="susseks" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Суссекс колумбийский</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-susseks-kolumbijskij-p36ty0dgfy.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-susseks-kolumbijskij-p36ty0dgfy_thumb.png') }}" itemprop="thumbnail" alt="Суссекс колумбийский">
                            <figcaption>Суссекс колумбийский</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-susseks-kolumbijskij-hl25n11bdq.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-susseks-kolumbijskij-hl25n11bdq_thumb.png') }}" itemprop="thumbnail" alt="Суссекс колумбийский">
                            <figcaption>Суссекс колумбийский</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-susseks-x9okjc8xns.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-susseks-x9okjc8xns_thumb.png') }}" itemprop="thumbnail" alt="Суссекс колумбийский">
                            <figcaption>Суссекс колумбийский</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-susseks-7j97yieoic.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-susseks-7j97yieoic_thumb.png') }}" itemprop="thumbnail" alt="Суссекс колумбийский">
                            <figcaption>Суссекс колумбийский</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-susseks-m1wgq35fap.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-susseks-m1wgq35fap_thumb.png') }}" itemprop="thumbnail" alt="Суссекс колумбийский">
                            <figcaption>Суссекс колумбийский</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-susseks-kolumbijskij-bbt1ncmudz.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-susseks-kolumbijskij-bbt1ncmudz_thumb.png') }}" itemprop="thumbnail" alt="Суссекс колумбийский">
                            <figcaption>Суссекс колумбийский</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-susseks-kolumbijskij-lgugzdzyjc.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-susseks-kolumbijskij-lgugzdzyjc_thumb.png') }}" itemprop="thumbnail" alt="Суссекс колумбийский">
                            <figcaption>Суссекс колумбийский</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="pushkinskaya" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Пушкинская</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-pushkinskaya-50t97sle1m.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-pushkinskaya-50t97sle1m_thumb.png') }}" itemprop="thumbnail" alt="Пушкинская">
                            <figcaption>Пушкинская</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-pushkinskaya-wge1mmoo1s.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-pushkinskaya-wge1mmoo1s_thumb.png') }}" itemprop="thumbnail" alt="Пушкинская">
                            <figcaption>Пушкинская</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-pushkinskaya-5zj2la50e5.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-pushkinskaya-5zj2la50e5_thumb.png') }}" itemprop="thumbnail" alt="Пушкинская">
                            <figcaption>Пушкинская</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-pushkinskaya-rkxpzhwl8w.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-pushkinskaya-rkxpzhwl8w_thumb.png') }}" itemprop="thumbnail" alt="Пушкинская">
                            <figcaption>Пушкинская</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-pushkinskaya-xe5c3joon1.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-pushkinskaya-xe5c3joon1_thumb.png') }}" itemprop="thumbnail" alt="Пушкинская">
                            <figcaption>Пушкинская</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="ameraukana" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Амераукана (пасхальная курица)</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-ameraukana-clxsqjuqch.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-ameraukana-clxsqjuqch_thumb.png') }}" itemprop="thumbnail" alt="Амераукана (пасхальная курица)">
                            <figcaption>Амераукана (пасхальная курица)</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-ameraukana-b7l0el26m7.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-ameraukana-b7l0el26m7_thumb.png') }}" itemprop="thumbnail" alt="Амераукана (пасхальная курица)">
                            <figcaption>Амераукана (пасхальная курица)</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-ameraukana-nx2e0tegwv.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-ameraukana-nx2e0tegwv_thumb.png') }}" itemprop="thumbnail" alt="Амераукана (пасхальная курица)">
                            <figcaption>Амераукана (пасхальная курица)</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-ameraukana-n2bavezwsb.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-ameraukana-n2bavezwsb_thumb.png') }}" itemprop="thumbnail" alt="Амераукана (пасхальная курица)">
                            <figcaption>Амераукана (пасхальная курица)</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-ameraukana-ukrpu8qxs0.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-ameraukana-ukrpu8qxs0_thumb.png') }}" itemprop="thumbnail" alt="Амераукана (пасхальная курица)">
                            <figcaption>Амераукана (пасхальная курица)</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-ameraukana-yajtso-819ihhhvsv.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-ameraukana-yajtso-819ihhhvsv_thumb.png') }}" itemprop="thumbnail" alt="Амераукана (пасхальная курица)">
                            <figcaption>Амераукана (пасхальная курица)</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="livenskaya-sittsevaya" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Ливенская ситцевая</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-livenskaya-sittsevaya-7w5m1wr8pv.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-livenskaya-sittsevaya-7w5m1wr8pv_thumb.png') }}" itemprop="thumbnail" alt="Ливенская ситцевая">
                            <figcaption>Ливенская ситцевая</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-livenskaya-sittsevaya-wu219sulkp.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-livenskaya-sittsevaya-wu219sulkp_thumb.png') }}" itemprop="thumbnail" alt="Ливенская ситцевая">
                            <figcaption>Ливенская ситцевая</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="barbyozyo" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Барбёзьё</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-barbyozyo-cc57cjnauk.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-barbyozyo-cc57cjnauk_thumb.png') }}" itemprop="thumbnail" alt="Барбёзьё">
                            <figcaption>Барбёзьё</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-barbyozyo-djn8lc69or.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-barbyozyo-djn8lc69or_thumb.png') }}" itemprop="thumbnail" alt="Барбёзьё">
                            <figcaption>Барбёзьё</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="barnevelder-chyorno-okajmlyonnyj" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Барневельдер золотистый чёрно-окаймлённый</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-barnevelder-chyorno-okajmlyonnyj-h6driz11pl.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-barnevelder-chyorno-okajmlyonnyj-h6driz11pl_thumb.png') }}" itemprop="thumbnail" alt="Барневельдер золотистый чёрно-окаймлённый">
                            <figcaption>Барневельдер золотистый чёрно-окаймлённый</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-barnevelder-chyorno-okajmlyonnyj-5ao5sdhofk.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-barnevelder-chyorno-okajmlyonnyj-5ao5sdhofk_thumb.png') }}" itemprop="thumbnail" alt="Барневельдер золотистый чёрно-окаймлённый">
                            <figcaption>Барневельдер золотистый чёрно-окаймлённый</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-barnevelder-chyorno-okajmlyonnyj-8wxwgmzdcr.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-barnevelder-chyorno-okajmlyonnyj-8wxwgmzdcr_thumb.png') }}" itemprop="thumbnail" alt="Барневельдер золотистый чёрно-окаймлённый">
                            <figcaption>Барневельдер золотистый чёрно-окаймлённый</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-barnevelder-chyorno-okajmlyonnyj-he47s79kg0.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-barnevelder-chyorno-okajmlyonnyj-he47s79kg0_thumb.png') }}" itemprop="thumbnail" alt="Барневельдер золотистый чёрно-окаймлённый">
                            <figcaption>Барневельдер золотистый чёрно-окаймлённый</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="viandot-standart" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Виандот серебристый чёрно-окаймлённый (стандарт)</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-viandot-standart-dqn3oef6e6.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-viandot-standart-dqn3oef6e6_thumb.png') }}" itemprop="thumbnail" alt="Виандот серебристый чёрно-окаймлённый (стандарт)">
                            <figcaption>Виандот серебристый чёрно-окаймлённый (стандарт)</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-viandot-standart-mx6qugyeik.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-viandot-standart-mx6qugyeik_thumb.png') }}" itemprop="thumbnail" alt="Виандот серебристый чёрно-окаймлённый (стандарт)">
                            <figcaption>Виандот серебристый чёрно-окаймлённый (стандарт)</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-viandot-standart-lzfwq7l2be.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-viandot-standart-lzfwq7l2be_thumb.png') }}" itemprop="thumbnail" alt="Виандот серебристый чёрно-окаймлённый (стандарт)">
                            <figcaption>Виандот серебристый чёрно-окаймлённый (стандарт)</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-viandot-2m24esuvyz.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-viandot-2m24esuvyz_thumb.png') }}" itemprop="thumbnail" alt="Виандот серебристый чёрно-окаймлённый (стандарт)">
                            <figcaption>Виандот серебристый чёрно-окаймлённый (стандарт)</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="faverol-belaya" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Фавероль белая</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-faverol-belaya-zak5ya9zel.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-faverol-belaya-zak5ya9zel_thumb.png') }}" itemprop="thumbnail" alt="Фавероль белая">
                            <figcaption>Фавероль белая</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-faverol-belaya-567fnbtb54.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-faverol-belaya-567fnbtb54_thumb.png') }}" itemprop="thumbnail" alt="Фавероль белая">
                            <figcaption>Фавероль белая</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-faverol-belaya-sykjvqvz7n.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-faverol-belaya-sykjvqvz7n_thumb.png') }}" itemprop="thumbnail" alt="Фавероль белая">
                            <figcaption>Фавероль белая</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="mekhelenskaya-kukushka" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Мехеленская кукушка (малин)</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-mekhelenskaya-kukushka-2pmlk7vhpg.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-mekhelenskaya-kukushka-2pmlk7vhpg_thumb.png') }}" itemprop="thumbnail" alt="Мехеленская кукушка (малин)">
                            <figcaption>Мехеленская кукушка (малин)</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-mekhelenskaya-kukushka-24onlp760u.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-mekhelenskaya-kukushka-24onlp760u_thumb.png') }}" itemprop="thumbnail" alt="Мехеленская кукушка (малин)">
                            <figcaption>Мехеленская кукушка (малин)</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-mekhelenskaya-kukushka-z7dc7in9e8.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-mekhelenskaya-kukushka-z7dc7in9e8_thumb.png') }}" itemprop="thumbnail" alt="Мехеленская кукушка (малин)">
                            <figcaption>Мехеленская кукушка (малин)</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="maran-chyornyj-serebristogrivyj" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы Маран чёрный серебристогривый</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-maran-chyornyj-serebristogrivyj-012vrkymvv.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-maran-chyornyj-serebristogrivyj-012vrkymvv_thumb.png') }}" itemprop="thumbnail" alt="Маран чёрный серебристогривый">
                            <figcaption>Маран чёрный серебристогривый</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('images/ptitsa-maran-chyornyj-serebristogrivyj-6xrrxnicgj.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('images/ptitsa-maran-chyornyj-serebristogrivyj-6xrrxnicgj_thumb.png') }}" itemprop="thumbnail" alt="Маран чёрный серебристогривый">
                            <figcaption>Маран чёрный серебристогривый</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
        </article>
    </main>

    {{ parent() }}
{% endblock %}
