{% extends "media/album.html.twig" %}

{% set metaDesc = "Фотографии коров фермы «Сибирский ковчег»" %}
{% set metaKey  = "коровы чёрно-пёстрой породы с фото" %}

{% block title %} Порода коров чёрно-пёстрая с фотографиями {% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="text-center">Коровы</h1>
        </header>
        <article>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/korovy-4aech86nig.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/korovy-4aech86nig_thumb.png') }}" itemprop="thumbnail" alt="Коровы">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/korovy-8mw4gu7x5n.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/korovy-8mw4gu7x5n_thumb.png') }}" itemprop="thumbnail" alt="Коровы">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/korovy-26otmpqy6t.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/korovy-26otmpqy6t_thumb.png') }}" itemprop="thumbnail" alt="Коровы">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/korovy-70uoq3qall.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/korovy-70uoq3qall_thumb.png') }}" itemprop="thumbnail" alt="Коровы">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/korovy-bg68av0tmv.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/korovy-bg68av0tmv_thumb.png') }}" itemprop="thumbnail" alt="Коровы">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/korovy-ij3h9ocwmv.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/korovy-ij3h9ocwmv_thumb.png') }}" itemprop="thumbnail" alt="Коровы">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/korovy-iw8nzu3dj4.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/korovy-iw8nzu3dj4_thumb.png') }}" itemprop="thumbnail" alt="Коровы">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/korovy-jngmxby8s3.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/korovy-jngmxby8s3_thumb.png') }}" itemprop="thumbnail" alt="Коровы">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/korovy-uyswgfo3hk.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/korovy-uyswgfo3hk_thumb.png') }}" itemprop="thumbnail" alt="Коровы">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/korovy-vwxu6abfpr.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/korovy-vwxu6abfpr_thumb.png') }}" itemprop="thumbnail" alt="Коровы">
                        </a>
                    </figure>
                </div>
            </section>
        </article>
    </main>

    {{ parent() }}
{% endblock %}
