{% extends "media/album.html.twig" %}

{% set metaDesc = "Фотографии коз фермы «Сибирский ковчег»" %}
{% set metaKey  = "козы Ламанча с фото" %}

{% block title %} Порода коз Ламанча с фотографиями {% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="text-center">Козы Ламанча</h1>
        </header>
        <article>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-dauesje3hp.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-dauesje3hp_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-9hemjbvgdv.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-9hemjbvgdv_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-d9mgs2xlf7.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-d9mgs2xlf7_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-esdx3gfup3.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-esdx3gfup3_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-8x1z3y31q6.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-8x1z3y31q6_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-gn3gia8mxf.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-gn3gia8mxf_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-lfzhuxr3n5.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-lfzhuxr3n5_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-n43d998sca.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-n43d998sca_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-n91xoc9mae.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-n91xoc9mae_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-r9jgx1ll6t.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-r9jgx1ll6t_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-rw4w08o0ro.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-rw4w08o0ro_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-vhriau2jh0.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-vhriau2jh0_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-ynnfksedb8.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-ynnfksedb8_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-2q29cuok1f.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-2q29cuok1f_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-2vaz4japl0.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-2vaz4japl0_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-3q4ylw6hb8.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-3q4ylw6hb8_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-4ccty6jcfw.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-4ccty6jcfw_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-4kng4d49f9.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-4kng4d49f9_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-5j7ymx7cle.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-5j7ymx7cle_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-74vvhqu436.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-74vvhqu436_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-85vnvpgg22.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-85vnvpgg22_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-b9a6guytsa.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-b9a6guytsa_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-btyvhg38rc.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-btyvhg38rc_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-dairqdmled.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-dairqdmled_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-erjvobjy6g.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-erjvobjy6g_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-f4zpayc2nc.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-f4zpayc2nc_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-h53d51j780.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-h53d51j780_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-i6xje976mz.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-i6xje976mz_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-n32i1tht5v.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-n32i1tht5v_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-ou88klkmhv.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-ou88klkmhv_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-q7yw2gi3cj.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-q7yw2gi3cj_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-qztce70mhx.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-qztce70mhx_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-s3mzep2koi.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-s3mzep2koi_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-xtcturze75.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-xtcturze75_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kozy-ycngs1nb4k.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kozy-ycngs1nb4k_thumb.png') }}" itemprop="thumbnail" alt="Козы Ламанча">
                        </a>
                    </figure>
                </div>
            </section>
        </article>
    </main>

    {{ parent() }}
{% endblock %}
