{% extends "media/album.html.twig" %}

{% set metaDesc = "Фотографии боксов для кур фермы «Сибирский ковчег»" %}
{% set metaKey  = "" %}

{% block title %} Насест для кур несушек своими руками фото, гнезда для кур несушек фото {% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="text-center">Боксы для кур</h1>
        </header>
        <article class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
            <div class="row">
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/boksy-dlya-kur-793a7qkj4x.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/boksy-dlya-kur-793a7qkj4x_thumb.png') }}" itemprop="thumbnail" alt="Боксы для кур">
                        <figcaption>Боксы для кур</figcaption>
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/boksy-dlya-kur-bbuz10pznc.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/boksy-dlya-kur-bbuz10pznc_thumb.png') }}" itemprop="thumbnail" alt="Боксы для кур">
                        <figcaption>Боксы для кур</figcaption>
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/boksy-dlya-kur-9fq60i5ycu.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/boksy-dlya-kur-9fq60i5ycu_thumb.png') }}" itemprop="thumbnail" alt="Боксы для кур">
                        <figcaption>Боксы для кур</figcaption>
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/boksy-dlya-kur-2xd26yrwk7.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/boksy-dlya-kur-2xd26yrwk7_thumb.png') }}" itemprop="thumbnail" alt="Боксы для кур">
                        <figcaption>Боксы для кур</figcaption>
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/boksy-dlya-kur-7v7i1j43nj.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/boksy-dlya-kur-7v7i1j43nj_thumb.png') }}" itemprop="thumbnail" alt="Боксы для кур">
                        <figcaption>Боксы для кур</figcaption>
                    </a>
                </figure>
                <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                    <a href="{{ asset('build/images/static/boksy-dlya-kur-2x2oja0ahl.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/boksy-dlya-kur-2x2oja0ahl_thumb.png') }}" itemprop="thumbnail" alt="Боксы для кур">
                        <figcaption>Боксы для кур</figcaption>
                    </a>
                </figure>
            </div>
        </article>
    </main>

    {{ parent() }}
{% endblock %}
