{% extends "media/album.html.twig" %}

{% set metaDesc = "Фотографии кроликов фермы «Сибирский ковчег»" %}
{% set metaKey  = "кролики породы рекс серый великан фото" %}

{% block title %} Кролики породы рекс, Серый великан фото {% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="text-center">Кролики рекс</h1>
        </header>
        <article>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-yoyqdci4oy.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-yoyqdci4oy_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-wgy9qz69dq.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-wgy9qz69dq_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-voyxkcfmmc.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-voyxkcfmmc_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-ursbpnlwsz.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-ursbpnlwsz_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-tk2wfdpnwo.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-tk2wfdpnwo_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-rcjxoontbe.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-rcjxoontbe_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-r1blab1iet.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-r1blab1iet_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-pplz43oz8g.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-pplz43oz8g_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-kzt95p6itx.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-kzt95p6itx_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-g3sco5a1dl.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-g3sco5a1dl_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-cn9e4w3gj6.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-cn9e4w3gj6_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-cjueeq8ejw.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-cjueeq8ejw_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-amkl89g4lh.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-amkl89g4lh_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-6569agvqq1.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-6569agvqq1_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-9c8avrear4.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-9c8avrear4_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-2zhdvm5wg4.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-2zhdvm5wg4_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-2v21puiimh.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-2v21puiimh_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-0ny7s7d30m.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-0ny7s7d30m_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                        </a>
                    </figure>
                </div>
            </section>
        </article>
    </main>

    {{ parent() }}
{% endblock %}
