{% extends "media/album.html.twig" %}

{% set metaDesc = "Фотографии гусей, уток, индеек фермы «Сибирский ковчег»" %}
{% set metaKey  = "гуси, утки, индейки фото" %}

{% block title %} гуси, утки, индейки фото {% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="text-center">Гуси, утки, индейки</h1>
        </header>
        <article>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ptitsa-0da0bvnr9x.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa-0da0bvnr9x_thumb.png') }}" itemprop="thumbnail" alt="Утки">
                            <figcaption>Утки</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ptitsa-1nufjp0ihu.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa-1nufjp0ihu_thumb.png') }}" itemprop="thumbnail" alt="Гуси">
                            <figcaption>Гуси</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ptitsa-2ajoekjrj3.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa-2ajoekjrj3_thumb.png') }}" itemprop="thumbnail" alt="Утки">
                            <figcaption>Утки</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ptitsa-4rp3b908tb.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa-4rp3b908tb_thumb.png') }}" itemprop="thumbnail" alt="Гуси">
                            <figcaption>Гуси</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ptitsa-6j3boa4yx1.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa-6j3boa4yx1_thumb.png') }}" itemprop="thumbnail" alt="Гуси">
                            <figcaption>Гуси</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ptitsa-ehmylav0xm.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa-ehmylav0xm_thumb.png') }}" itemprop="thumbnail" alt="Гуси">
                            <figcaption>Гуси</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ptitsa-jwm6yw30xa.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa-jwm6yw30xa_thumb.png') }}" itemprop="thumbnail" alt="Гуси">
                            <figcaption>Гуси</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ptitsa-nd22kwcd89.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa-nd22kwcd89_thumb.png') }}" itemprop="thumbnail" alt="Гуси">
                            <figcaption>Гуси</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ptitsa-vy6rp71xar.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa-vy6rp71xar_thumb.png') }}" itemprop="thumbnail" alt="Гуси">
                            <figcaption>Гуси</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/ptitsa-w3ptbx63lv.jpg') }}" class="album-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa-w3ptbx63lv_thumb.png') }}" itemprop="thumbnail" alt="Гуси">
                            <figcaption>Гуси</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
        </article>
    </main>

    {{ parent() }}
{% endblock %}
