{% extends "media/album.html.twig" %}

{% set metaDesc = "Фотографии кроликов фермы «Сибирский ковчег»" %}
{% set metaKey  = "кролики породы рекс серый великан фото" %}

{% block title %} Кролики породы Рекс, Серый великан фото {% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="text-center">Кролики Рекс</h1>
        </header>
        <article>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-goluboj-y1x5j53myr.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-goluboj-y1x5j53myr_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-3nw634ikng.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-3nw634ikng_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-922gnrjgyd.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-922gnrjgyd_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-chyornyj-1.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-chyornyj-1_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-chyornyj-4.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-chyornyj-4_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-goluboj-otter-1.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-goluboj-otter-1_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-goluboj-otter-3.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-goluboj-otter-3_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-h2vqse7yxz.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-h2vqse7yxz_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-hbfsse3g5a.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-hbfsse3g5a_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks-q0riov5e7t.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks-q0riov5e7t_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks_krolchata-8.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks_krolchata-8_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks_krolchata-12.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks_krolchata-12_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks_krolchata-ib0txqb4ou.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks_krolchata-ib0txqb4ou_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kroliki-reks_krolchata-owu9cvx03p.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki-reks_krolchata-owu9cvx03p_thumb.png') }}" itemprop="thumbnail" alt="Рекс">
                            <figcaption>Рекс</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
        </article>
    </main>

    {{ parent() }}
{% endblock %}
