{% extends "media/album.html.twig" %}

{% set metaDesc = "Фотографии кур фермы «Сибирский ковчег»" %}
{% set metaKey  = "породы кур мясо яичного направления с фото, порода кур амераукана фото" %}

{% block title %} Породы куриц с фотографиями и названиями, амрокс порода кур фото, куры пушкинские фото {% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1 class="text-center">Куры</h1>
        </header>
        <article>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="zagorskaya-lososevaya" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы загорская лососёвая</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-zagorskaya-lososevaya-hgbjntlniz.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-zagorskaya-lososevaya-hgbjntlniz_thumb.png') }}" itemprop="thumbnail" alt="Загорская лососёвая">
                            <figcaption>Загорская лососёвая</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-zagorskaya-lososevaya-gubtrkm3c0.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-zagorskaya-lososevaya-gubtrkm3c0_thumb.png') }}" itemprop="thumbnail" alt="Загорская лососёвая">
                            <figcaption>Загорская лососёвая</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-zagorskaya-lososevaya-8fsjh1wjpl.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-zagorskaya-lososevaya-8fsjh1wjpl_thumb.png') }}" itemprop="thumbnail" alt="Загорская лососёвая">
                            <figcaption>Загорская лососёвая</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-zagorskaya-lososevaya-zksyxtw9y7.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-zagorskaya-lososevaya-zksyxtw9y7_thumb.png') }}" itemprop="thumbnail" alt="Загорская лососёвая">
                            <figcaption>Загорская лососёвая</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-zagorskaya-lososevaya-zfo5x4t74b.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-zagorskaya-lososevaya-zfo5x4t74b_thumb.png') }}" itemprop="thumbnail" alt="Загорская лососёвая">
                            <figcaption>Загорская лососёвая</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="amroks" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы амрокс</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-amroks-c242x3np9n.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-amroks-c242x3np9n_thumb.png') }}" itemprop="thumbnail" alt="Амрокс">
                            <figcaption>Амрокс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-amroks-x7oy7hd2o3.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-amroks-x7oy7hd2o3_thumb.png') }}" itemprop="thumbnail" alt="Амрокс">
                            <figcaption>Амрокс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-amroks-1rwkdmepst.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-amroks-1rwkdmepst_thumb.png') }}" itemprop="thumbnail" alt="Амрокс">
                            <figcaption>Амрокс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-amroks-huyj5umw1z.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-amroks-huyj5umw1z_thumb.png') }}" itemprop="thumbnail" alt="Амрокс">
                            <figcaption>Амрокс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-amroks-q9eybmcj2l.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-amroks-q9eybmcj2l_thumb.png') }}" itemprop="thumbnail" alt="Амрокс">
                            <figcaption>Амрокс</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-amroks-1wx6w4rg8m.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-amroks-1wx6w4rg8m_thumb.png') }}" itemprop="thumbnail" alt="Амрокс">
                            <figcaption>Амрокс</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
            <hr>
            <section class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
                <header id="pushkinskaya" class="anchor">
                    <h2 class="section-name text-center text-sm-left">Куры породы пушкинская</h2>
                </header>
                <div class="row">
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-pushkinskaya-50t97sle1m.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-pushkinskaya-50t97sle1m_thumb.png') }}" itemprop="thumbnail" alt="Пушкинская">
                            <figcaption>Пушкинская</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-pushkinskaya-wge1mmoo1s.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1200x898">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-pushkinskaya-wge1mmoo1s_thumb.png') }}" itemprop="thumbnail" alt="Пушкинская">
                            <figcaption>Пушкинская</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-pushkinskaya-5zj2la50e5.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-pushkinskaya-5zj2la50e5_thumb.png') }}" itemprop="thumbnail" alt="Пушкинская">
                            <figcaption>Пушкинская</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-pushkinskaya-rkxpzhwl8w.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-pushkinskaya-rkxpzhwl8w_thumb.png') }}" itemprop="thumbnail" alt="Пушкинская">
                            <figcaption>Пушкинская</figcaption>
                        </a>
                    </figure>
                    <figure class="col-sm-6 col-md-4 col-lg-3" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="{{ asset('build/images/static/kury-pushkinskaya-xe5c3joon1.jpg') }}" class="media-item" itemprop="contentUrl" data-size="1002x750">
                            <img class="img-thumbnail" src="{{ asset('build/images/static/kury-pushkinskaya-xe5c3joon1_thumb.png') }}" itemprop="thumbnail" alt="Пушкинская">
                            <figcaption>Пушкинская</figcaption>
                        </a>
                    </figure>
                </div>
            </section>
        </article>
    </main>

    {{ parent() }}
{% endblock %}
