{% extends "base.html.twig" %}

{% set metaDesc = "Фотографии фермы «Сибирский ковчег»" %}
{% set metaKey  = "козы ламанча, породные козы, кролики рекс фото, шкурки кролика, породные куры, гуси, утки, индейки" %}

{% block title %} Птицеводство, козоводство, кролиководство фото {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('media') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('media') }}
{% endblock %}

{% block content %}
    <main class="content">
        <section>
            <header>
                <h1 class="text-center">Фотоальбомы</h1>
            </header>
            <nav class="row equal">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a href="{{ path('media_album_ptitsa') }}" class="media-item">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa_thumb.png') }}"
                             alt="Фотоальбом «Гуси, утки, индейки»">
                        <p><span>Гуси, утки, индейки</span></p>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a href="{{ path('media_album_kury') }}" class="media-item">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/kury_thumb.png') }}"
                             alt="Фотоальбом «Куры»">
                        <p><span>Куры</span></p>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a href="{{ path('media_album_kozy') }}" class="media-item">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/kozy_thumb.png') }}"
                             alt="Фотоальбом «Козы ламанча»">
                        <p><span>Козы ламанча</span></p>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a href="{{ path('media_album_kroliki') }}" class="media-item">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/kroliki_thumb.png') }}"
                             alt="Фотоальбом «Кролики рекс»">
                        <p><span>Кролики рекс</span></p>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a href="{{ path('media_album_ferma') }}" class="media-item">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/ferma_thumb.png') }}"
                             alt="Фотоальбом «Ферма»">
                        <p><span>Ферма</span></p>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a href="{{ path('media_album_shkurki') }}" class="media-item">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/shkurki_thumb.png') }}"
                             alt="Фотоальбом «Шкурки»">
                        <p><span>Шкурки</span></p>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a href="{{ path('media_album_vystavki') }}" class="media-item">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/vystavki_thumb.png') }}"
                             alt="Фотоальбом «Выставки»">
                        <p><span>Участие<br>в выставках</span></p>
                    </a>
                </div>
            </nav>
        </section>
        <hr>
        <section>
            <header>
                <h1 class="text-center">Видео</h1>
            </header>
            <div id="video-gallery" class="row equal">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="media-item" href="https://www.youtube.com/embed/K7AGpLZ3L1w">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/video_interview-2017_2_thumb.png') }}"
                             alt="Видео Инкубационное яйцо. Репортаж «Вести Новосибирск»">
                        <p><span>Инкубационное яйцо.<br>Репортаж «Вести Новосибирск»</span></p>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="media-item" href="https://www.youtube.com/embed/xuwRslYaiHo">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/video_interview-2017_thumb.png') }}"
                             alt="Видео Разведение кур. Репортаж «Вести Новосибирск»">
                        <p><span>Разведение кур.<br>Репортаж «Вести Новосибирск»</span></p>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a class="media-item" href="https://www.youtube.com/embed/kNX6PrnDwYg">
                        <img class="img-thumbnail" src="{{ asset('build/images/static/video_interview-2014_thumb.png') }}"
                             alt="Видео Выставка «Сибирская агропромышленная неделя»">
                        <p><span>Выставка «Сибирская<br>агропромышленная неделя»</span></p>
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
